<ul class="vclDropdown"
  [class.vclOpen]="expanded"
  [attr.role]="ariaRole"
  [attr.tabindex]="tabindex"
  [attr.aria-multiselectable]="maxSelectableItems > 1"
  [attr.aria-expanded]="expanded">
  <li
    *ngFor="let item of items"
    class="vclDropdownItem"
    [class.vclSelected]="item.selected"
    [attr.aria-selected]="item.selected"
    [class.vclDisabled]="item.disabled"
    role="menuitem"
    tabindex="0"
    (tap)="selectItem(item)"
    [ngClass]="item.class">
    <div class="vclDropdownItemLabel">
      {{item.label}}
    </div>
    <div class="vclDropdownItemSubLabel">
      {{item.sublabel}}
    </div>
  </li>
</ul>
