<ul class="vclDropdown"
  [class.vclOpen]="expanded"
  [attr.role]="ariaRole"
  [attr.tabindex]="tabindex"
  [attr.aria-multiselectable]="maxSelectableItems > 1"
  [attr.aria-expanded]="expanded">
  <vcl-metalist (select)="onSelect($event)" #metalist [items]="items" [meta]="metaInformation" [maxSelectableItems]="maxSelectableItems" [minSelectableItems]="minSelectableItems">
    <template let-item="item" let-meta="meta">
      <li class="vclDropdownItem"
        [class.vclSelected]="meta.selected"
        [attr.aria-selected]="meta.selected"
        role="menuitem"
        tabindex="0"
        (tap)="_selectItem(item, meta, metalist)"
        [ngClass]="item.class">
        <div class="vclDropdownItemLabel">
          {{item.label}}
        </div>
        <div *ngIf="item.sublabel" class="vclDropdownItemSubLabel">
          {{item.sublabel}}
        </div>
      </li>
    </template>
  </vcl-metalist>
</ul>
