<h3>Non-wrapping label:</h3>
<label vcl-form-control-label label="Label 1" subLabel="Sub label 1" for="form-control-label-demo-checkbox-1"></label>
<button vcl-button id="form-control-label-demo-checkbox-1" label="ClickMe!" (click)="onButtonClick()"></button>

<h3>Wrapping label:</h3>

<label vcl-form-control-label label="Label 2" subLabel="Sub label 2" [wrapping]="true">
  <button vcl-button id="form-control-label-demo-checkbox-1" label="ClickMe!" (click)="onButtonClick()"></button>
</label>

<h3>Disabled label:</h3>
<label vcl-form-control-label label="Label 3 (disabled)" disabled=true></label>

<h3>Required label:</h3>
<label vcl-form-control-label label="Label 4 (required)" required=true requiredIndLabel="reqLabel"></label>
