<vcl-icogram label="some label"></vcl-icogram>
<br><br>
<vcl-icogram label="prep/app icons" prepIcon="fa:chevron-right" appIcon="fa:chevron-right"></vcl-icogram>
<br><br>
<vcl-icogram label="flexed label" appIcon="fa:chevron-right" flexLabel=true class="vclLayoutHorizontal"></vcl-icogram>
<br><br>
<vcl-icogram>
  <vcl-icon class="fa:cog" label="settings" hidden="false"></vcl-icon>
</vcl-icogram>
<br><br>
<vcl-icogram>
  <span class="vclText" flex>Prepended icon</span>
  <div class="vclIcon fa fa-user" aria-hidden="true" aria-label="account" role="img"></div>
</vcl-icogram>
