<h3>Input2</h3>
<vcl-input [(value)]="data1"></vcl-input>
  <br>
  <b>Input 1 value:</b> {{data1}}

<br>
<br>
<br>
<h3>Input 2 (selectAllOnFocus)</h3>
<vcl-input [(value)]="data2" selectAllOnFocus=true></vcl-input>
<br>
<b>Input 2 value:</b> {{data2}}

<br>
<br>
<br>
<h3>Input 3 (valueType="number")</h3>
<vcl-input [(value)]="data3" type="number" selectAllOnFocus=true></vcl-input>
<br>
<b>Input 3 typed value (number):</b> {{data3}}

<br>
<br>
<br>
<h3>Input (readOnly)</h3>
<vcl-input value='readOnly' readOnly=true></vcl-input>
<br>


<br>
<br>
<br>
<h3>Input (selectAllOnFocus)</h3>
<vcl-input value='readOnly' [readOnly]="true" [selectAllOnFocus]="true"></vcl-input>
<br>
