<h3>Input2</h3>
<vcl-input [(value)]="data1"></vcl-input>
  <br>
  <b>Input 1 value:</b> {{data1}}

<br>
<br>
<br>
<h3>Input 2 (selectOnFocus)</h3>
<vcl-input [(value)]="data2" selectOnFocus=true></vcl-input>
<br>
<b>Input 2 value:</b> {{data2}}

<br>
<br>
<br>
<h3>Input 3 (type="number")</h3>
<vcl-input [(value)]="data3" type="number"></vcl-input>
<br>
<b>Input 3 typed value (number):</b> {{data3}}

<br>
<br>
<br>
<h3>Input (readonly)</h3>
<vcl-input value='readOnly' readonly=true></vcl-input>
<br>


<br>
<br>
<br>
<h3>Input (selectAllOnFocus)</h3>
<vcl-input value='select' [selectOnFocus]="true"></vcl-input>
<br>
