Horizontal navigation
<vcl-navigation class="mycustomclass1">
  <vcl-navitem [active]=true prepIcon="fa:home" label="Home1"></vcl-navitem>
  <vcl-navitem [active]=true label="Products" prepIcon="fa:bicycle" class="underline mycustomclass2"></vcl-navitem>
  <vcl-navitem [active]=true [selected]="true" label="Pre-selected Item"></vcl-navitem>
  <vcl-navitem [active]=true href="https://example.com/" label="External link"></vcl-navitem>
</vcl-navigation>

Vertical navigation

<vcl-navigation type="vertical">
  <vcl-navitem [active]=true [heading]=true label="Heading" route="navigation"></vcl-navitem>
  <vcl-navitem [active]=true label="Item" route="navigation"></vcl-navitem>
  <vcl-navitem [active]=true label="Item" route="navigation"></vcl-navitem>
  <vcl-navitem [active]=true [heading]=true label="Another heading" route="navigation"></vcl-navitem>
  <vcl-navitem [active]=true label="Item" route="navigation"></vcl-navitem>
  <vcl-navitem [active]=true label="Item" route="navigation"></vcl-navitem>
  <vcl-navitem [active]=true label="Nested navigation" route="navigation">
    <vcl-navitem [active]=true label="Level 2 Item" route="navigation"></vcl-navitem>
    <vcl-navitem [active]=true label="Level 2 Item" route="navigation"></vcl-navitem>
    <vcl-navitem [active]=true label="Level 2 navigation" route="navigation">
      <vcl-navitem [active]=true label="Level 3 Item" route="navigation"></vcl-navitem>
    </vcl-navitem>
  </vcl-navitem>
</vcl-navigation>

Horizontal navigation (listInput)
<vcl-navigation [navigationItems]="items"></vcl-navigation>

Vertical navigation (listInput)
<vcl-navigation [navigationItems]="items2" type="vertical"></vcl-navigation>
