<button vcl-button (click)="message()">A message</button><br><br>
<button vcl-button (click)="messageWithTitle()">A title and a message</button><br><br>
<button vcl-button (click)="info()">An info</button><br><br>
<button vcl-button (click)="success()">A success</button><br><br>
<button vcl-button (click)="warning()">A warning</button><br><br>
<button vcl-button (click)="error()">An error</button><br><br>
<button vcl-button (click)="htmlMessage()">A html message</button><br><br>
<button vcl-button (click)="custom()">A custom info message</button><br><br>
<button vcl-button (click)="question()">A question</button><br><br>
<button vcl-button (click)="async()">An async request</button><br><br>
<button vcl-button (click)="retry()">Retrying an async request</button><br><br>
<button vcl-button (click)="inputText()">A text input</button><br><br>
