<div class="wrapper gutter-2">
  <button vcl-button (click)="message()">A message</button>
  <button vcl-button (click)="messageWithTitle()">A title and a message</button>
  <button vcl-button (click)="info()">An info</button>
  <button vcl-button (click)="success()">A success</button>
  <button vcl-button (click)="warning()">A warning</button>
  <button vcl-button (click)="error()">An error</button>
  <button vcl-button (click)="htmlMessage()">A html message</button>
  <button vcl-button (click)="custom()">A custom info message</button>
  <button vcl-button (click)="question()">A question</button>
  <button vcl-button (click)="async()">An async request</button>
  <button vcl-button (click)="retry()">Retrying an async request</button>
  <button vcl-button (click)="inputText()">A text input</button>
</div>
