<vcl-button-group [(selectedIndex)]="position" mode="single">
  <button vcl-button label="Top Right"></button>
  <button vcl-button label="Top"></button>
  <button vcl-button label="Top Left"></button>
  <button vcl-button label="Bottom Right"></button>
  <button vcl-button label="Bottom"></button>
  <button vcl-button label="Bottom Left"></button>
</vcl-button-group>

<br><br>

<button vcl-button (click)="info()" label="An info message"></button><br><br>
<button vcl-button (click)="success()" label="A success message"></button><br><br>
<button vcl-button (click)="warning()" label="A warning"></button><br><br>
<button vcl-button (click)="error()" label="An error message"></button><br><br>
<button vcl-button (click)="custom()" label="A custom message"></button><br><br>
