<h3>Checkbox:</h3>
<vcl-checkbox [(checked)]="isChecked"></vcl-checkbox>
<br>
<b>State:</b> {{isChecked}}

<h3>Disabled:</h3>
<vcl-checkbox [disabled]="true"></vcl-checkbox>

<h3>Checkbox with label:</h3>
<h4>right</h4>
<vcl-checkbox [(checked)]="isChecked2" labelPosition="right">
  <label vcl-form-control-label label="rightLabel" subLabel="SubRightLabel"></label>
</vcl-checkbox>

<h4>left</h4>
<vcl-checkbox [(checked)]="isChecked3" labelPosition="left">
  <label vcl-form-control-label label="rightLabel" subLabel="SubRightLabel"></label>
</vcl-checkbox>

<h3>Checkbox (ngModel):</h3>
<vcl-checkbox [(ngModel)]="isChecked4"></vcl-checkbox>
<br>
<b>State:</b> {{isChecked4}}
