<h3>Horizontal button group</h3>
<vcl-button-group [(value)]="value1">
  <button vcl-button [value]="1">One</button>
  <button vcl-button [value]="2">Two</button>
  <button vcl-button [value]="3">Three</button>
</vcl-button-group>
<p>Selected value: {{ value1 }}</p>

<h3>Vertical button group</h3>
<vcl-button-group class="vertical" style="width: 10em" [(value)]="value2">
  <button vcl-button [value]="1">One</button>
  <button vcl-button [value]="2">Two</button>
  <button vcl-button [value]="3">Three</button>
</vcl-button-group>
<p>Selected value: {{ value2 }}</p>

<h3>Horizontal button group (multiple selection)</h3>
<vcl-button-group selectionMode="multiple" [(value)]="value3">
  <button vcl-button square [value]="'italic'">
    <vcl-icon icon="fas:italic"></vcl-icon>
  </button>
  <button vcl-button square [value]="'bold'">
    <vcl-icon icon="fas:bold"></vcl-icon>
  </button>
  <button vcl-button square [value]="'underline'">
    <vcl-icon icon="fas:underline"></vcl-icon>
  </button>
</vcl-button-group>
<p>Selected values: {{ value3 }}</p>

<h3>Disabled button group</h3>
<vcl-button-group [disabled]="true" selectionMode="multiple">
  <button vcl-button square [value]="'italic'">
    <vcl-icon icon="fas:italic"></vcl-icon>
  </button>
  <button vcl-button square [value]="'bold'">
    <vcl-icon icon="fas:bold"></vcl-icon>
  </button>
  <button vcl-button square [value]="'underline'">
    <vcl-icon icon="fas:underline"></vcl-icon>
  </button>
</vcl-button-group>
