<div 
  #container 
  class="vclLayer"
  [ngClass]="layerOpts.customClass"
  [class.vclTransparent]="layerOpts.transparent"
  [class.vclLayerFill]="layerOpts.fill"
  [class.vclLayerStickToBottom]="layerOpts.stickToBottom"
  [style.z-index]="zIndex + 1"
  [style.pointer-events]="'all'" 
  role="dialog" 
  (tap)='triggerOffClick($event)'
  >
  <div *ngIf="layerOpts.noLayerBox" #layerContent></div>
  <div *ngIf="!layerOpts.noLayerBox" #box class="vclLayerBox" [class.vclLayerGutterPadding]="layerOpts.gutterPadding" [style.pointer-events]="'all'" [style.z-index]="zIndex + 2">
    <div #layerContent></div>
  </div>
</div>
<div #cover *ngIf="layerOpts.modal" class="vclLayerCover" [style.z-index]="zIndex"></div>
