<h3>single tokens</h3>
<vcl-token>my token</vcl-token>
<vcl-token [selected]="true">my selected token</vcl-token>
<vcl-token [removable]="true" (remove)="onRemove($event)">my removable token</vcl-token>
<vcl-token [removable]="true" (remove)="onRemove($event)">my icon token</vcl-token>

<br/>

<h3>tokenlist</h3>
<vcl-token-list [value]="[1]" (valueChange)="onListChange($event);">
  <vcl-token [value]="1">my token 1</vcl-token>
  <vcl-token [value]="2">my token 2</vcl-token>
</vcl-token-list>
<br/>

<h3>selectable and removable tokenlist</h3>
<vcl-token-list [value]="[1]" [selectable]="true" [removable]="true" (valueChange)="onListChange($event);">
  <vcl-token [value]="1">my token 1</vcl-token>
  <vcl-token [value]="2">my token 2</vcl-token>
</vcl-token-list>
<br/>

<h3>tokeninput</h3>
<vcl-token-input-container (tokensChange)="onInputChange($event);">
  <input vclInput vclTokenInput />
  <!-- <input vclInput vcl-token-input /> -->
</vcl-token-input-container>

<h3>tokeninput (disabled)</h3>
<vcl-token-input-container [disabled]="true">
  <input vclInput vclTokenInput />
  <!-- <input vclInput vcl-token-input /> -->
</vcl-token-input-container>
