<vcl-popover #popover 
             *ngIf="(target$ | async) as target" 
             [target]="target.element" 
             [visible]="visible$ | async" 
             targetX="left" 
             targetY="bottom" 
             attachmentX="left" 
             attachmentY="top" 
             [style.width]="popoverWidth$ | async"
             (mousedown)="$event.preventDefault()"
             >
  <ul *ngIf="itemsVisible$ | async" class="vclDropdown vclNoBorder vclOpen" role="menu">
    <ng-container *ngFor="let item of items$ | async; let idx = index">
      <li *ngIf="item.type==='item'" 
          class="vclDropdownItem"
          [class.vclHighlighted]="idx === highlightedItem"
          [class.vclDisabled]="disabled || item.disabled"
          role="menuitem"
          (click)="target.select(item)">
        <div role="menuitem" class="vclDropdownItemLabel">{{item.label}}</div>
        <div *ngIf="item.sublabel" class="vclDropdownItemSubLabel">{{item.sublabel}}</div>
      </li>
      <li *ngIf="item.type==='separator'" role="menuitem">
        <div class="vclSeparator" role="separator"></div>
      </li>
      <li *ngIf="item.type==='header'" class="vclDropdownItemGroupHeader" role="menuitem">
        <div class="vclDropdownItemGroupHeaderLabel">{{item.label}}</div>
      </li>
    </ng-container>
  </ul>
  <ng-container *ngIf="busyVisible$ | async">
    <vcl-busy-indicator></vcl-busy-indicator>
  </ng-container>
  <ng-container *ngIf="contentVisible$ | async">
    <ng-content select="[autocomplete-content]"></ng-content>
  </ng-container>
</vcl-popover>
