<div class="vclTokenContainer">
  <wormhole *ngIf="labelPre" [connect]="labelPre"></wormhole>
  <vcl-token *ngFor="let token of tokens"
             (remove)="removeToken(token)"
             (tap)="select(token)"
             [disabled]="disabled"
             [ngClass]="tokenClass"
             [selected]="token.selected"
             [removable]="true"
             [icon]="removeIcon"
             [attr.tabindex]="-1"
             [label]="token.label">
  </vcl-token>
  <wormhole *ngIf="labelPost" [connect]="labelPost"></wormhole>
</div>
<ng-content></ng-content>
