<div class="vclTokenContainer">
  <vcl-token *ngFor="let token of tokens"
             (remove)="remove(token)"
             (tap)="select(token)"
             [selected]="token.selected"
             [removable]="true"
             [attr.tabindex]="-1"
             [label]="token.label">
  </vcl-token>
</div>

<input 
  vcl-input
  #input
  placeholder="Type to add tokens" 
  autocomplete="off" 
  [tabindex]="tabindex"
  (keyup.enter)="add(input.value)"
  (focus)="onInputFocus()"
  (blur)="onInputBlur()"
  flex
  />
