Checkable:
<vcl-radio-button [(checked)]="isChecked"></vcl-radio-button>

<br><br>
<b>Checked:</b> {{isChecked}}

<br><br>
<button vcl-button (tap)="isChecked=false">Uncheck radio button</button>

<br><br>
Disabled:
<vcl-radio-button [disabled]="true"></vcl-radio-button>

<br>
<br>
<br>
Radio-Button with label:
<br>
<vcl-radio-button [(checked)]="isChecked2" labelPosition="right">
  <label vcl-form-control-label label="rightLabel" subLabel="SubRightLabel"></label>
</vcl-radio-button>
<br>
<br>
<vcl-radio-button [(checked)]="isChecked3" labelPosition="left">
  <label vcl-form-control-label label="rightLabel" subLabel="SubRightLabel"></label>
</vcl-radio-button>
