<h3>Checkable:</h3>
<vcl-radio-button [(checked)]="isChecked" (change)="onChange($event)"></vcl-radio-button>
<br/>
<b>State:</b> {{isChecked}}
<br>
<button vcl-button (click)="isChecked=false">Uncheck</button>

<br>
<h3>Disabled:</h3>
<vcl-radio-button [disabled]="true"></vcl-radio-button>

<br>
<h3>With label:</h3>

<h4>right:</h4>
<vcl-radio-button [(checked)]="isChecked2" labelPosition="right">
  <label vcl-form-control-label label="rightLabel" subLabel="SubRightLabel"></label>
</vcl-radio-button>

<h4>left:</h4>
<vcl-radio-button [(checked)]="isChecked3" labelPosition="left">
  <label vcl-form-control-label label="rightLabel" subLabel="SubRightLabel"></label>
</vcl-radio-button>
