Checkable:
<vcl-radio-button [(checked)]="isChecked"></vcl-radio-button>

<br><br>
<b>Checked:</b> {{isChecked}}

<br><br>
<button vcl-button (click)="isChecked=false">Uncheck radio button</button>

<br><br>
Disabled:
<vcl-radio-button [disabled]="true"></vcl-radio-button>

<br>
<br>
<br>
Radio-Button with label:
<br>
<vcl-radio-button [(checked)]="isChecked2" labelPosition="right">rightLabel</vcl-radio-button>
<br>
<br>
<vcl-radio-button [(checked)]="isChecked2" labelPosition="left">leftLabel</vcl-radio-button>
