<h3>basic:</h3>
<vcl-slider [(value)]="value1">
>
</vcl-slider>
Value: {{value1}}

<h3>With a generated scale:</h3>
<vcl-slider 
  [(value)]="value2" 
  [min]="0" 
  [max]="100"
  [scale]="true" 
  [step]="10">
</vcl-slider>
Value: {{value2}}

<h3>With value locked to steps:</h3>
<vcl-slider 
  [(value)]="value3" 
  [min]="0" 
  [max]="100"
  [lock]="true" 
  [step]="10">
</vcl-slider>
Value: {{value3}}


<h3>labeled steps:</h3>
<vcl-slider 
  [(value)]="value4" 
  [min]="0" 
  [max]="5" 
  [mousewheel]="true" 
  [scale]="['☀','☁','☂','☃','☄','1']">
</vcl-slider>
Value: {{value4}}


<h3>default values:</h3>
<vcl-slider [(value)]="value5"></vcl-slider>
Value: {{value5}}

<h3>disabled:</h3>

<vcl-slider 
  [(value)]="value6" 
  [min]="0" 
  [max]="7" 
  [disabled]="true" 
  [scale]="['d','i','s','a','b','l', 'e', 'd']">
</vcl-slider>
