<vcl-icogram >
  <vcl-icon vclPrepend icon="fas:chevron-right"></vcl-icon>
  icogram with accessible link
</vcl-icogram>
<br><br>
<vcl-icogram>
  <vcl-icon vclPrepend icon="fas:chevron-right"></vcl-icon>
  prep/app icons
  <vcl-icon vclAppend icon="fas:chevron-right"></vcl-icon>
</vcl-icogram>
<br><br>

<a vcl-icogram href="'https://github.com/ng-vcl/ng-vcl'" target="'_blank'">
  <vcl-icon vclPrepend icon="fas:link"></vcl-icon>
   external link with appended icon
</a>
<br><br>
  
<a vcl-a-icogram
  [href]="'this is not considered when the link is disabled'"
  [disabled]="true">
  <vcl-icon vclPrepend icon="fas:link"></vcl-icon>
  Disabled link
</a>
<br><br>
