<vcl-icogram prepIcon="fas:chevron-right">icogram with accessible link</vcl-icogram>
<br><br>
<vcl-icogram prepIcon="fas:chevron-right" appIcon="fas:chevron-right">prep/app icons</vcl-icogram>
<br><br>

<a vcl-icogram
   href="'https://github.com/ng-vcl/ng-vcl'"
   [prepIcon]="'fas:link'"
   target="'_blank'">
   external link with appended icon
</a>
  
  <br><br>
  
<a vcl-icogram
  [prepIcon]="'fas:link'"
  [href]="'this is not considered when the link is disabled'"
  [disabled]="true">
  Disabled link
</a>
<br><br>
