<h3>Vertical</h3>

<vcl-form-control-group [spinner]="true">
  <vcl-label>Vertical</vcl-label>
  <vcl-input-field>
    <input vclInput [(ngModel)]="data1" type="number" />
    <vcl-spinner [(ngModel)]="data1" orientation="vertical"></vcl-spinner>
  </vcl-input-field>
</vcl-form-control-group>

<h3>Horizontal</h3>

<vcl-form-control-group [spinner]="true">
  <vcl-label>Horizontal</vcl-label>
  <vcl-input-field>
    <input vclInput [(ngModel)]="data2" type="number" />
    <vcl-spinner [(ngModel)]="data2" orientation="Horizontal"></vcl-spinner>
  </vcl-input-field>
</vcl-form-control-group>
