<h2 class="vclArticleHeader"> {{title}}</h2>
<div *ngIf="tabs.length>0">
  <vcl-tab-nav borders=true>
    <vcl-tab *ngFor="let tab of tabs">
      <template vcl-tab-label>
        {{tab.name}}
      </template>
      <template vcl-tab-content>
        <demo-content *ngIf="tab.type==='component'" [component]="tab.content"></demo-content>
        <markdown *ngIf="tab.type==='markdown'" [markdown]="tab.content"></markdown>
        <div *ngIf="tab.type==='text'"><pre>{{tab.content}}</pre></div>
      </template>
    </vcl-tab>
  </vcl-tab-nav>
</div>
<div *ngIf="tabs.length===0">
  <demo-content [component]="component"></demo-content>
</div>
