<div class="vclLayoutHorizontal">
  <div class="vclDataGrid vclDGVAlignMiddle vclDGAlignCentered vclCalendar vclCalInput" style="min-width: 18em;" *ngIf="displayDate">
    <div class="vclDGRow">
      <div class="vclDGCell vclToolbar">
        <div class=" vclLayoutFlex vclLayoutHorizontal vclLayoutJustified vclLayoutCenter" role="menubar" aria-level="1">
          <button type="button" class="vclButton vclTransparent vclSquare" [disabled]="disabled" (click)="prevMonth()">
                <div class="vclIcogram">
                  <div class="vclIcon fas fa-angle-left" aria-hidden="false" aria-label="previous" role="img"></div>
                </div>
              </button>
          <span class="vclCalHeaderLabel" (click)="showYear()" [class.date-picker-pointer]="!showYearPick">
            {{viewDate?.getMonthString()}}&nbsp;&nbsp;{{viewDate?.getYearString()}}
          </span>
            <button type="button" class="vclButton vclTransparent vclSquare" [disabled]="disabled" (click)="nextMonth()">
              <div class="vclIcogram">
                <div class="vclIcon fas fa-angle-right" aria-hidden="false" aria-label="next" role="img"></div>
              </div>
            </button>
          </div>
        </div>
      </div>

      <ng-container *ngIf="!showYearPick">
        <div *ngIf="displayWeekNumbers || displayWeekdays" class="vclDGRow">
          <div *ngIf="displayWeekNumbers" class="vclDGCell vclCalItem vclOtherMonth">
            {{'week'}}
          </div>
          <div *ngFor="let day of viewDate.getWeekDays()" class="vclDGCell vclWeekdayLabel">
            <ng-container *ngIf="displayWeekdays">
              {{day}}
            </ng-container>
          </div>
        </div>

        <div class="vclDGRow" *ngFor="let week of viewDate.getMonthBlock()">
          <div *ngIf="displayWeekNumbers && week.length==7" class="vclDGCell">
            {{week[5].getWeekNumber()}}
          </div>
          <div *ngFor="let day of week" class="vclDGCell vclCalItem" [class.vclDisabled]="disabled || isDayDisabled(day)" [class.vclOtherMonth]="!day.isSameMonthAndYear(viewDate)" [class.vclSelected]="isMarked(day)" (click)="onDateTap(day)" [class.vclToday]="highlightSelected && day.isToday()">
            {{day.date.getDate()}}
          </div>
        </div>

        <div *ngIf="displayJumpSelected || displayJumpToday" class="vclDGRow">
          <div class="vclDGCell">
            <div class="vclToolbar vclLayoutFlex vclLayoutHorizontal vclLayoutJustified" role="menubar" aria-level="2">
              <button *ngIf="displayJumpToday" type="button" title="go to today" class="vclButton vclTransparent vclLayoutFlex" [disabled]="disabled" (click)="gotoToday()">
                <div class=" vclIcogram">
                  <span class="vclText ">go to today</span>
                </div>
              </button>
              <button *ngIf="displayJumpSelected" type="button" title="go to selected" class="vclButton vclTransparent vclLayoutFlex" [disabled]="disabled" (click)="gotoSelected()">
                <div class=" vclIcogram">
                  <span class="vclText ">go to selected</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="showYearPick">
        <div class="vclDGRow" role="row" *ngFor="let row of viewDate.getYearsBlock()">
          <div *ngFor="let year of row" class="vclDGCell vclCalItem" role="gridcell" [class.vclSelected]="viewDate.date.getFullYear()==year" (click)="yearPickSelect(year)" [class.vclToday]="highlightSelected && today.isInYear(year)">
            {{year}}
          </div>
        </div>
      </ng-container>
    </div>
    <vcl-time-picker *ngIf="displayTime"
                     [(ngModel)]="selectedDate"
                     (ngModelChange)="timeChange($event)"
                     [displayHours]="displayHours"
                     [displayMinutes]="displayMinutes"
                     [displaySeconds]="displaySeconds"
                     [displayHours24]="displayHours24"
                     [ngStyle]="{'margin-left': displayDate ? '10px' : 0}">
    </vcl-time-picker>
</div>
