<h3>Default</h3>

<vcl-tab-nav >
  <vcl-tab>
    <vcl-label>Tab1</vcl-label>
    Content1
  </vcl-tab>
  <vcl-tab>
      <vcl-label>Tab2</vcl-label>
    Content2
  </vcl-tab>
  <vcl-tab>
    <vcl-label>Tab3</vcl-label>
  Content3
</vcl-tab>
<vcl-tab>
  <vcl-label>Tab4</vcl-label>
Content4
</vcl-tab>
  <vcl-tab [disabled]="true">
    <vcl-label>Tab5</vcl-label>
    Content
  </vcl-tab>
</vcl-tab-nav>

<hr>

<h3>With layout="right"</h3>

<vcl-tab-nav layout="right" tabContentClass="vclSpan-70p" tabsClass="vclSpan-30p">
  <vcl-tab>
    <vcl-label>Tab1</vcl-label>
    Content1
  </vcl-tab>
  <vcl-tab>
      <vcl-label>Tab2</vcl-label>
    Content2
  </vcl-tab>
  <vcl-tab [disabled]="true">
    <vcl-label>Tab3</vcl-label>
    Content3
  </vcl-tab>
</vcl-tab-nav>

<hr>

<h3>With layout="left"</h3>

<vcl-tab-nav layout="left" tabContentClass="vclSpan-70p" tabsClass="vclSpan-30p">
  <vcl-tab>
    <vcl-label>Tab1</vcl-label>
    Content1
  </vcl-tab>
  <vcl-tab>
      <vcl-label>Tab2</vcl-label>
    Content2
  </vcl-tab>
  <vcl-tab [disabled]="true">
    <vcl-label>Tab3</vcl-label>
    Content3
  </vcl-tab>
</vcl-tab-nav>

<hr>

<h3>With borders</h3>

<vcl-tab-nav borders=true>
  <vcl-tab>
    <vcl-label>Tab1</vcl-label>
    Content1
  </vcl-tab>
  <vcl-tab>
      <vcl-label>Tab2</vcl-label>
    Content2
  </vcl-tab>
  <vcl-tab [disabled]="true">
    <vcl-label>Tab3</vcl-label>
    Content3
  </vcl-tab>
</vcl-tab-nav>

<hr>


<h3>Shared content</h3>

<vcl-tab-nav [(selectedTabIndex)]="tabIndex">
  <vcl-tab>
    <vcl-label>Tab1</vcl-label>
  </vcl-tab>
  <vcl-tab>
      <vcl-label>Tab2</vcl-label>
  </vcl-tab>
  <vcl-tab [disabled]="true">
    <vcl-label>Tab3</vcl-label>
  </vcl-tab>
  Shared Content Tab: {{tabIndex}}
</vcl-tab-nav>


<h3>No content</h3>

<vcl-tab-nav>
  <vcl-tab>
    <vcl-label>Tab1</vcl-label>
  </vcl-tab>
  <vcl-tab>
      <vcl-label>Tab2</vcl-label>
  </vcl-tab>
  <vcl-tab [disabled]="true">
    <vcl-label>Tab3</vcl-label>
  </vcl-tab>
</vcl-tab-nav>
