Press escape to close the top layer<br><br>

<button vcl-button (click)="layerNonModal.open()" label="open non-modal layer per reference"></button>
<button vcl-button (click)="layerModal.open()" label="open modal layer per reference"></button>
<button vcl-button (click)="openLayer()" label="open layer programmatically"></button>
<button vcl-button (click)="openFooLayer()" label="open component layer"></button>

<template vcl-layer #layerNonModal="layer" [modal]="false">
  <div class="vclPanel vclNoMargin">
    <div class="vclPanelHeader">
      <h3 class="vclPanelTitle">Non-modal layer title goes here</h3>
    </div>
    <div class="vclPanelBody">
      <p class="vclPanelContent">
        Non-modal layer text goes here<br><br>
        <button vcl-button (click)="layerNonModal.close()" label="close Layer"></button>
      </p>
    </div>
  </div>
</template>

<template vcl-layer #layerModal="layer" [modal]="true">
  <div class="vclPanel vclNoMargin">
    <div class="vclPanelHeader">
      <h3 class="vclPanelTitle">Modal layer title goes here</h3>
    </div>
    <div class="vclPanelBody">
      <p class="vclPanelContent">
        Modal layer text goes here<br><br>
        <button vcl-button (click)="layerNonModal.open()" label="open non-modal layer"></button>
        <button vcl-button (click)="layerModal.close()" label="close Layer"></button>
      </p>
    </div>
  </div>
</template>
