<div [formGroup]="form">
  <ng-container *ngIf="!fo.formObjects;else nested">

    <ng-container [ngSwitch]="fo.formType">

      <ng-container  *ngSwitchCase="'text'">
        <label vcl-form-control-label *ngIf="!fo.hideLabel" [label]="fo.label" [required]="fo.required" [for]="fo.id"></label>
        <vcl-input-control-group [type]="'error'" [label]="errorLabel">
          <input vcl-input
                 [id]="fo.id"
                 type="text"
                 [class.vclError]="hasError"
                 [placeholder]="fo.placeholder"
                 [formControlName]="fo.key"
                 [disabled]="fo.disabled"/>
        </vcl-input-control-group>
      </ng-container>

      <ng-container  *ngSwitchCase="'textarea'">
        <label vcl-form-control-label *ngIf="!fo.hideLabel" [label]="fo.label" [required]="fo.required" [for]="fo.id"></label>
        <vcl-input-control-group [type]="'error'" [label]="errorLabel">
          <textarea vcl-textarea
                    [id]="fo.id"
                    [formControlName]="fo.key"
                    [autogrow]="true"
                    [minRows]="5"
                    [maxRows]="10"
                    [readonly]="fo.disabled"></textarea>
        </vcl-input-control-group>
      </ng-container>

      <ng-container  *ngSwitchCase="'password'">
        <label vcl-form-control-label *ngIf="!fo.hideLabel" [label]="fo.label" [required]="fo.required" [for]="fo.id"></label>

        <vcl-input-control-group [type]="'error'" [label]="errorLabel">
          <vcl-password-input
            [visibleIcon]="fo.schema.visibleIcon || ' fa fa-eye '"
            [invisibleIcon]="fo.schema.invisibleIcon || ' fa fa-eye-slash '"
          >
            <input vcl-input
                   vcl-password-input
                   [id]="fo.id"
                   [class.vclError]="hasError"
                   [placeholder]="fo.placeholder"
                   [formControlName]="fo.key"
                   [disabled]="fo.disabled"/>
          </vcl-password-input>
        </vcl-input-control-group>
      </ng-container>

      <ng-container  *ngSwitchCase="'hidden'">
          <input
                 [id]="fo.id"
                 type="hidden"
                 [formControlName]="fo.key" />

      </ng-container>

      <ng-container  *ngSwitchCase="'number'">
        <label vcl-form-control-label *ngIf="!fo.hideLabel" [label]="fo.label" [for]="fo.id"></label>
        <vcl-input-control-group [type]="'error'" [label]="errorLabel">
          <input vcl-input
                 [id]="fo.id"
                 type="number"
                 valueType="number"
                 placeholder="number"
                 [class.vclError]="hasError"
                 [name]="fo.key"
                 [formControlName]="fo.key"
                 [disabled]="fo.disabled"/>
        </vcl-input-control-group>
      </ng-container>

      <ng-container *ngSwitchCase="'select'">
        <label vcl-form-control-label *ngIf="!fo.hideLabel" [label]="fo.label" [for]="fo.id"></label>
        <vcl-input-control-group [type]="'error'" [label]="errorLabel">
          <vcl-select [id]="fo.id"
                      [formControlName]="fo.key"
                      [class.vclError]="hasError"
                      [mode]="fo.schema.type==='array' ? 'multiple' : 'single'"
                      [disabled]="fo.disabled">
            <vcl-select-option *ngFor="let option of fo.options" [value]="option.value" [label]="option.label" [sublabel]="option.sublabel"></vcl-select-option>
          </vcl-select>
        </vcl-input-control-group>
      </ng-container>

      <ng-container *ngSwitchCase="'dropdown'">
        <label vcl-form-control-label *ngIf="!fo.hideLabel" [label]="fo.label" [for]="fo.id"></label>
        <vcl-input-control-group [type]="'error'" [label]="errorLabel">
          <vcl-dropdown [id]="fo.id"
                        [formControlName]="fo.key"
                        [class.vclError]="hasError"
                        [mode]="fo.schema.type==='array' ? 'multiple' : 'single'"
                        [disabled]="fo.disabled">
            <vcl-dropdown-option *ngFor="let option of fo.options" [value]="option.value" [label]="option.label" [sublabel]="option.sublabel"></vcl-dropdown-option>
          </vcl-dropdown>
        </vcl-input-control-group>
      </ng-container>

      <ng-container *ngSwitchCase="'switch'">
        <label vcl-form-control-label *ngIf="!fo.hideLabel" [label]="fo.label" [for]="fo.id"></label>
        <vcl-flip-switch [id]="fo.id"
                         onLabel="{{'Yes' }}"
                         offLabel="{{'No'}}"
                         [formControlName]="fo.key"
                         [disabled]="fo.disabled">
        </vcl-flip-switch>
      </ng-container>

      <ng-container *ngSwitchCase="'slider'">
        <label vcl-form-control-label *ngIf="!fo.hideLabel" [label]="fo.label" [for]="fo.id"></label>
        <vcl-slider [id]="fo.id"
                    [class.vclError]="hasError"
                    [min]="fo.schema.mininum"
                    [max]="fo.schema.maximum"
                    [scale]="fo.schema.scale"
                    [formControlName]="fo.key"
                    [disabled]="fo.disabled">
        </vcl-slider>
      </ng-container>

      <ng-container *ngSwitchCase="'checkbox'">
        <vcl-checkbox [id]="fo.id" [formControlName]="fo.key" [label]="fo.label" [disabled]="fo.disabled" [hideLabel]="fo.hideLabel"></vcl-checkbox>
      </ng-container>

      <ng-container *ngSwitchCase="'radio'">
        <label vcl-form-control-label *ngIf="!fo.hideLabel" [label]="fo.label" [for]="fo.id"></label>
        <vcl-input-control-group [type]="'error'" [label]="errorLabel" inline=true>
          <vcl-radio-group [id]="fo.id" [formControlName]="fo.key"
                            [class.vclError]="hasError">
            <vcl-radio-button *ngFor="let option of fo.options"
                              [label]="option.label"
                              [value]="option.value"
                              [disabled]="fo.disabled"></vcl-radio-button>
          </vcl-radio-group>
        </vcl-input-control-group>
      </ng-container>

      <ng-container *ngSwitchCase="'submit'">
        <button vcl-button
                type="submit"
                [disabled]="(fo.schema.autoDisable && !form.valid) || fo.disabled"
                [prepIcon]="fo.schema.prepIcon"
                [appIcon]="fo.schema.appIcon"
                [ngClass]="fo.schema.class"
                [label]="fo.schema.label">
        </button>
      </ng-container>

      <ng-container *ngSwitchCase="'button'">
        <button vcl-button
                type="button"
                [prepIcon]="fo.schema.prepIcon"
                [appIcon]="fo.schema.appIcon"
                [ngClass]="fo.schema.class"
                [label]="fo.schema.label"
                (tap)="onAction(fo.schema.action || fo.schema)"
                [disabled]="fo.disabled"></button>
      </ng-container>

      <ng-container *ngSwitchCase="'buttons'">
        <div class="vclLooseButtonGroup">
          <ng-container *ngFor="let btnFo of fo.buttons">
            <ng-container *ngIf="btnFo.formType === 'submit'">
              <button vcl-button
                      type="submit"
                      [disabled]="(btnFo.schema.autoDisable && !form.valid) || fo.disabled"
                      [prepIcon]="btnFo.schema.prepIcon"
                      [appIcon]="btnFo.schema.appIcon"
                      [ngClass]="btnFo.schema.class"
                      [label]="btnFo.schema.label">
              </button>
            </ng-container>

            <ng-container *ngIf="btnFo.formType === 'button'">
              <button vcl-button
                      type="button"
                      [prepIcon]="btnFo.schema.prepIcon"
                      [appIcon]="btnFo.schema.appIcon"
                      [ngClass]="btnFo.schema.class"
                      [label]="btnFo.schema.label"
                      (tap)="onAction(btnFo.schema.action || button)"
                      [disabled]="fo.disabled"></button>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>

    </ng-container>

    <ng-container *ngIf="fo.schema.hint">
      <div class="vclFormControlHint">
        {{ fo.schema.hint }}
      </div>
    </ng-container>
  </ng-container>

  <ng-template #nested>
    <fieldset class="vclFieldset" style="margin-top: 20px;margin-bottom: 20px;">
      <legend>{{fo.label}}</legend>
      <ng-container *ngFor="let subFo of fo.formObjects">
        <vcl-jss-form-object [fo]="subFo" [form]="form.get(fo.key)"></vcl-jss-form-object>
      </ng-container>
    </fieldset>
  </ng-template>

</div>
