<h2 class="article-header">{{ title }}</h2>
@if (tabs.length > 0) {
  <div>
    <vcl-tab-nav [borders]="true">
      @for (tab of tabs; track $index) {
        <vcl-tab>
          <vcl-label>{{ tab.name }}</vcl-label>
          @if (tab.type === 'component') {
            <div>
              <ng-template [cdkPortalOutlet]="tab.content"></ng-template>
            </div>
          }

          @if (tab.type === 'text') {
            <div>
              <pre>{{ tab.content }}</pre>
            </div>
          }

          @if (tab.type === 'md') {
            <markdown [data]="tab.content"></markdown>
          }

          @if (tab.type === 'ts') {
            <markdown [data]="tab.content | language: 'typescript'"></markdown>
          }

          @if (tab.type === 'html') {
            <markdown [data]="tab.content | language: 'html'"></markdown>
          }

          @if (tab.type === 'scss') {
            <markdown [data]="tab.content | language: 'scss'"></markdown>
          }
        </vcl-tab>
      }
    </vcl-tab-nav>
  </div>
}
