<vcl-form-control-group>
  <label vclFormControlLabel>Material input mode</label>
  <vcl-radio-group [(ngModel)]="material">
    <label vclRadioButtonLabel>
      <vcl-radio-button value="float"></vcl-radio-button>
      Float
    </label>
    <label vclRadioButtonLabel>
      <vcl-radio-button value="static"></vcl-radio-button>
      Static
    </label>
    <label vclRadioButtonLabel>
      <vcl-radio-button value="disabled"></vcl-radio-button>
      Disabled
    </label>
  </vcl-radio-group>
</vcl-form-control-group>

<form novalidate [formGroup]="formGroup" #form="ngForm" class="vclForm" (submit)="onSubmit()" [vclMaterial]="material">
  <h2>Create a hero</h2>

  <vcl-form-control-group>
    <label vclFormControlLabel>Name<vcl-required></vcl-required></label>
    <input vclInput formControlName="name" placeholder="Name of the hero">
    <vcl-hint-error error="required">Name is required</vcl-hint-error>
    <vcl-hint-error error="minlength">Name must have a length of at least 2 characters</vcl-hint-error>
  </vcl-form-control-group>

  <vcl-form-control-group>
    <label vclFormControlLabel>Description</label>
    <textarea vclInput formControlName="description" placeholder="Description of the hero" [autogrow]="true" [minRows]="3" [maxRows]="10"></textarea>
  </vcl-form-control-group>
  
  <vcl-form-control-group>
    <label vclFormControlLabel>Email</label>
    <vcl-embedded-input-group>
      <vcl-icon vclPrepend icon="fas:envelope"></vcl-icon>
      <input vclInput formControlName="email" placeholder="Email of the hero">
    </vcl-embedded-input-group>
    <vcl-hint-error error="required">Email is required</vcl-hint-error>
    <vcl-hint-error error="email">Invalid Email address</vcl-hint-error>
  </vcl-form-control-group>

  <vcl-form-control-group>
    <label vclFormControlLabel>Password<vcl-required></vcl-required></label>
    <vcl-password-input>
      <input vclInput formControlName="password" placeholder="Enter password">
    </vcl-password-input>
    <vcl-hint-error error="required">Password is required</vcl-hint-error>
  </vcl-form-control-group>

  <vcl-form-control-group>
    <label vclFormControlLabel>Select perks<vcl-required></vcl-required></label>
    <vcl-select placeholder="Select two perks">
      <vcl-select-list formControlName="perks"  selectionMode="multiple">
        <vcl-select-list-item [value]="'snakeeater'">
          <vcl-select-list-label>Snake Eater</vcl-select-list-label>
          <vcl-select-list-sublabel>It gives you a 25% increase to your poison resistance.	</vcl-select-list-sublabel>
        </vcl-select-list-item>
        <vcl-select-list-item [value]="'swiftlearner'">
          <vcl-select-list-label>Swift Learner</vcl-select-list-label>
          <vcl-select-list-sublabel>Swift Learner	Whenever you gain experience, you'll receive 5% more experience per level of the perk.</vcl-select-list-sublabel>
        </vcl-select-list-item>
        <vcl-select-list-item [value]="'toughness'">
          <vcl-select-list-label>Toughness</vcl-select-list-label>
          <vcl-select-list-sublabel>It adds 10% to your general damage resistance per level.</vcl-select-list-sublabel>
        </vcl-select-list-item>
        <vcl-select-list-item [value]="'explorer'">
          <vcl-select-list-label>Explorer</vcl-select-list-label>
          <vcl-select-list-sublabel>You'll get more random encounters with this perk.</vcl-select-list-sublabel>
        </vcl-select-list-item> 
      </vcl-select-list>
    </vcl-select>
    <vcl-hint-error error="perks">You must select two perks</vcl-hint-error>
  </vcl-form-control-group>

  <div class="vclLooseButtonGroup">
    <button vcl-button type="submit" class="vclEmphasized">Submit</button>
    <button vcl-button type="button" (click)="onReset()">Reset</button>
  </div>

  <div class="value">
    <h4>Form</h4>
    <pre>status: {{ form.status }}</pre>
    <pre>valid: {{ form.valid }}</pre>
    <pre>dirty: {{ form.dirty }}</pre>
    <pre>submitted: {{ form.submitted }}</pre>
    <pre>touched: {{ form.touched }}</pre>
    <pre>pristine: {{ form.pristine }}</pre>
    <pre>errors: {{ form.errors | json }}</pre>
    <pre>value: {{ form.value | json }}</pre>
  </div>
</form>
