.tooltip-container {
    position: absolute;
    color: white;
    background-color: black;
    padding: 0 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

    .tooltip-container::after {
        content: " ";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid black;
        position: absolute;
    }
