<div *ngIf='prependIcon && !prependButtonIcon' class="vclPrepended">
  <vcl-icon iconClass="vclIcon" [icon]='prependIcon'></vcl-icon>
</div>

<div *ngIf='prependButtonIcon' class="vclPrepended">
  <button vcl-button (tap)="prependButtonTap.emit($event)" [prepIcon]='prependButtonIcon' class="vclTransparent vclSquare"></button>
</div>

<ng-content></ng-content>

<div *ngIf='appendIcon' class="vclAppended">
  <vcl-icon iconClass="vclIcon" [icon]='appendIcon'></vcl-icon>
</div>

<div *ngIf='appendButtonIcon' class="vclAppended">
  <button vcl-button (tap)="appendButtonTap.emit($event)" [prepIcon]="appendButtonIcon" class="vclTransparent vclSquare vclAppended"></button>
</div>
