<b>Single select</b><br>
<vcl-select [items]="items" (change)="onChange($event)" [(ngModel)]="selectedItemSingle"></vcl-select>
<div *ngIf="selectedItemSingle">
  value: {{selectedItemSingle}}
</div>

<br>
<br>
<b>Multiselect, 3 Items selectable</b><br>

<vcl-select [items]="items" (change)="onChange($event)" [maxSelectableItems]="3"
  [(ngModel)]="selectedItemsMulti"
></vcl-select>
<div *ngIf="selectedItemsMulti && selectedItemsMulti.length>0">
  value:
  <ul>
    <li *ngFor="let val of selectedItemsMulti">{{val}}</li>
  </ul>
</div>



<br>
<br>
<b>Options via html</b><br>
<vcl-select (change)="onChange($event)" [(ngModel)]="selectedItemSingleHtml">
  <vcl-select-option label="Item1"></vcl-select-option>
  <vcl-select-option label="Item2"></vcl-select-option>
  <vcl-select-option label="Item3"></vcl-select-option>
  <vcl-select-option label="Item4"></vcl-select-option>
  <vcl-select-option label="Item5"></vcl-select-option>
</vcl-select>
<div *ngIf="selectedItemSingleHtml">
  Value: {{selectedItemSingleHtml}}
</div>

<br/>
<br/>
<hr/>
<h2>Pre-defined value</h2>
<br>
<b>single</b><br>
<vcl-select [items]="items" (change)="onChange($event)" [(ngModel)]="selectSingleValue"></vcl-select>
<div *ngIf="selectSingleValue">
  Value: {{selectSingleValue}}
</div>

<br>
<br>
<b>multi</b><br>
<vcl-select [items]="items" (change)="onChange($event)" [maxSelectableItems]="3"
 [(ngModel)]="selectMultiValue"></vcl-select>
<div *ngIf="selectMultiValue && selectMultiValue.length>0">
  value:
  <ul>
    <li *ngFor="let val of selectMultiValue">{{val}}</li>
  </ul>
</div>



<br>
<br>
<b>Options via html</b><br>
<vcl-select (change)="onChange($event)" [(ngModel)]="selectSingleValueHtml">
  <vcl-select-option label="Item1" value="1"></vcl-select-option>
  <vcl-select-option label="Item2" value="2"></vcl-select-option>
  <vcl-select-option label="Item3" value="3"></vcl-select-option>
  <vcl-select-option label="Item4" value="4"></vcl-select-option>
  <vcl-select-option label="Item5" value="5"></vcl-select-option>
</vcl-select>
<div *ngIf="selectSingleValueHtml">
  Value: {{selectSingleValueHtml}}
</div>
