<b>Single select</b><br>
<vcl-select #select [items]="items" (select)="onSelect($event)"></vcl-select>
<div *ngIf="selectedItemSingle">
  Selected: {{selectedItemSingle.label}}
</div>

<br>
<br>
<b>Multiselect, 3 Items selectable</b><br>

<vcl-select [items]="items" (select)="onSelectMulti($event)" [maxSelectableItems]="3"></vcl-select>
<div *ngIf="selectedItemsMulti">
  Selected:
  <ul>
    <li *ngFor="let item of selectedItemsMulti">{{item.label}}</li>
  </ul>
</div>



<br>
<br>
<b>Options via html</b><br>
<vcl-select (select)="onSelect($event)">
  <vcl-select-option label="Item1"></vcl-select-option>
  <vcl-select-option label="Item2"></vcl-select-option>
  <vcl-select-option label="Item3"></vcl-select-option>
  <vcl-select-option label="Item4"></vcl-select-option>
  <vcl-select-option label="Item5"></vcl-select-option>
</vcl-select>
<div *ngIf="selectedItemSingle">
  Selected: {{selectedItemSingle.label}}
</div>
