<div
  #select
  (tap)="expand()"
  [attr.aria-autocomplete]="list"
  class="vclLayoutHorizontal vclSelect vclInputGroupEmb"
  [style.marginBottom]="0"
  >

  <div class="vclInput" readonly>
    {{displayValue}}
  </div>

  <button vcl-button
    tabindex="-1"
    class="vclTransparent vclSquare vclAppended"
    [appIcon]="expanded ? expandedIcon : collapsedIcon">
  </button>
</div>

<vcl-dropdown #dropdown
    [(expanded)]="expanded"
    [items]="items"
    (change)="onSelect($event)"
    [minSelectableItems]="minSelectableItems"
    [maxSelectableItems]="maxSelectableItems"
    [tabindex]="0"

    [style.position]="'relative'"
    [style.top.px]="dropdownTop"
    >
</vcl-dropdown>
