<div
  [attr.id]="popoverTarget"
  (tap)="expand()"
  [attr.aria-autocomplete]="list"
  class="vclLayoutHorizontal vclSelect vclInputGroupEmb">

  <div class="vclInput" readonly>
    {{displayValue}}
  </div>

  <button vcl-button
    tabindex="-1"
    class="vclTransparent vclSquare vclAppended"
    [appIcon]="expanded ? expandedIcon : collapsedIcon">
  </button>
</div>

<vcl-popover
  [target]="'#' + popoverTarget"
  targetAttachment='bottom left'
  attachment='top left'
  [(open)]="expanded">
  <vcl-dropdown #dropdown
    [(expanded)]="expanded"
    [items]="items"
    (change)="onSelect($event)"
    [minSelectableItems]="minSelectableItems"
    [maxSelectableItems]="maxSelectableItems"
    [tabindex]="0">
  </vcl-dropdown>
</vcl-popover>
