
Icon on the left
<vcl-embedded-input-group>
  <vcl-icon vclPrepend icon="fas:search"></vcl-icon>
  <input vclInput placeholder="Postcode, City, Name of the Workshop" />
</vcl-embedded-input-group>

icon on the right
<vcl-embedded-input-group>
  <input vclInput placeholder="Postcode, City, Name of the Workshop" />
  <vcl-icon vclAppend icon="fas:search"></vcl-icon>
</vcl-embedded-input-group>

Button on the right
<vcl-embedded-input-group>
  <input vclInput />
  <button vcl-square-button vclAppend (click)="someAction($event)">
    <vcl-icon [icon]="'fas:times-circle'"></vcl-icon>
  </button>
</vcl-embedded-input-group>

Icon on the left and button on the right
<vcl-embedded-input-group>
  <vcl-icon vclPrepend icon="fas:cog"></vcl-icon>
  <input vclInput />
  <button vcl-square-button vclAppend (click)="someAction($event)">
    <vcl-icon [icon]="'fas:times-circle'"></vcl-icon>
  </button>
</vcl-embedded-input-group>

Button on the left and right
<vcl-embedded-input-group>
  <button vcl-square-button vclPrepend (click)="someAction($event)">
    <vcl-icon [icon]="'fas:cog'"></vcl-icon>
  </button>
  <input vclInput />
  <button vcl-square-button vclAppend (click)="someAction($event)">
    <vcl-icon [icon]="'fas:times-circle'"></vcl-icon>
  </button>
</vcl-embedded-input-group>

Combined with Input-group
<div class="vclInputGroup">
  <vcl-embedded-input-group>
    <vcl-icon vclPrepend icon="fas:cog"></vcl-icon>
    <input vclInput />
    <button vcl-square-button vclAppend (click)="someAction($event)">
      <vcl-icon [icon]="'fas:times-circle'"></vcl-icon>
    </button>
  </vcl-embedded-input-group>
  <div class="vclInputGroupButton">
    <button vcl-button class="vclButton" (click)="someAction($event)">GO</button>
  </div>
</div>
