<h3>vcl-dropdown on input</h3>

<vcl-embedded-input-group prepIcon="fas:flag">
  <input placeholder="Search"
         vclEmbeddedInputGroup
         [vclDropdown]="dropdownCountries"
         />
</vcl-embedded-input-group>
 

<vcl-dropdown #dropdownCountries="vclDropdown">
  <vcl-dropdown-header>Europe</vcl-dropdown-header>
  <vcl-dropdown-item value="gr" label="Greece">
    fancy html
  </vcl-dropdown-item>
  <vcl-dropdown-label-item value="fr">France</vcl-dropdown-label-item>
  <vcl-dropdown-label-item value="de">Germany</vcl-dropdown-label-item>
  <vcl-dropdown-label-item value="uk">The United Kingdom of Great Britain and Northern Ireland</vcl-dropdown-label-item>
  <vcl-dropdown-header>Asia</vcl-dropdown-header>
  <vcl-dropdown-label-item value="jp">Japan</vcl-dropdown-label-item>
  <vcl-dropdown-label-item value="cn">China</vcl-dropdown-label-item>
  <vcl-dropdown-label-item value="th">Thailand</vcl-dropdown-label-item>
</vcl-dropdown>

<h3>vcl-dropdown on select</h3>

<vcl-select [value]="'fr'" mode="multiple">
  <vcl-dropdown>
    <vcl-dropdown-header>Europe</vcl-dropdown-header>
    <vcl-dropdown-label-item value="gr">Greece</vcl-dropdown-label-item>
    <vcl-dropdown-label-item value="fr">France</vcl-dropdown-label-item>
    <vcl-dropdown-label-item value="de">Germany</vcl-dropdown-label-item>
    <vcl-dropdown-label-item value="uk">The United Kingdom of Great Britain and Northern Ireland</vcl-dropdown-label-item>
    <vcl-dropdown-header>Asia</vcl-dropdown-header>
    <vcl-dropdown-label-item value="jp">Japan</vcl-dropdown-label-item>
    <vcl-dropdown-label-item value="cn">China</vcl-dropdown-label-item>
    <vcl-dropdown-label-item value="th">Thailand</vcl-dropdown-label-item>
  </vcl-dropdown>
</vcl-select>
  


