<div class="vclProgressBar"
     [attr.aria-valuenow]="value" 
     [attr.aria-valuemin]="minValue" 
     [attr.aria-valuenow]="aria-valuemax" 
     [attr.aria-valuetext]="label"
     [class.vclIndeterminate]="showIndeterminate"
     >
  <div *ngIf="showValue" class="vclProgress vclPrimary vclLayoutFit" [style.transform]="transformValue"></div>
  <div *ngIf="showSecondaryValue" class="vclProgress vclSecondary vclLayoutFit" [style.transform]="transformSecondaryValue"></div>
  <div *ngIf="showIndeterminate" class="vclProgress vclPrimary vclLayoutFit"></div>
</div>

