<div *ngFor="let growl of growls" 
  (mouseenter)="growl.mouseEnter()" 
  (mouseleave)="growl.mouseLeave()" 
  class="vclNotification vclLayoutHorizontal vclLayoutCenter" 
  [ngClass]="growl.layerClass" 
  [style.color]="growl.textColor"
  [style.background-color]="growl.backgroundColor"
  [@growlState]="growl.state" 

  >
  <div class="vclNotificationIconContainer">
    <span *ngIf="growl.iconClass" class="vclIcon vclNotificationIcon" [ngClass]="growl.iconClass"></span>
  </div>
  <div class="vclNotificationContent vclLayoutFlex">
    <div *ngIf="growl.text && !growl.html">{{growl.text}}</div>
    <div *ngIf="growl.text && growl.html" [innerHtml]="growl.text"></div>
  </div>
   <button vcl-button *ngIf="growl.showCloseButton" (tap)="growl.close()" class="vclSquare vclTransparent vclLayoutSelfStart" prepIcon="fa:times" title="Close"></button>
</div>
