<section class="vlcContentArea">
    <vcl-tour-overlay></vcl-tour-overlay>
    
    <div class="vclLayoutVertical">
        <div>
            <button type="button" class="vclButton" (click)="startTour()">
                <div class="vclIcogram">
                    <span class="vclText">Start tour</span>
                </div>
            </button>
        </div>   
        <div>
            <div class="vclGridSpan-25p">
                <h1 class="vclContainer" id="heading1">Heading</h1>
            </div>
            <div class="vclGridSpan-25p">
                <br>
                <p class="vclContainer" id="heading2">Heading</p>
            </div>
            <div class="vclGridSpan-25p">
                <br>
                <p class="vclContainer" id="heading3">Heading</p>
            </div>
            <div class="vclGridSpan-25p">
                <br>
                <p class="vclContainer" id="heading4">Heading</p>
            </div>
        </div>
    </div>

    <vcl-tour-step
        target="#heading1"
        title="Step Title"
        [debug]="debugTour"
        [debugPopover]="debugPopover">
            Demo tour first step with title
    </vcl-tour-step>

    <vcl-tour-step 
        target="#heading2"
        [debug]="debugTour"
        [debugPopover]="debugPopover">
            Demo tour second step no title
    </vcl-tour-step>
    
    <vcl-tour-step
        target="#heading3"
        [debug]="debugTour"
        [debugPopover]="debugPopover"
        [targetX]="AttachmentX.Center"
        [attachmentX]="AttachmentX.Center"
        [targetY]="AttachmentY.Top"
        [attachmentY]="AttachmentY.Bottom">
            Demo tour third step top position
    </vcl-tour-step>

    <vcl-tour-step
        target="#heading4"
        [debug]="debugTour"
        [debugPopover]="debugPopover"
        [targetX]="AttachmentX.Left"
        [attachmentX]="AttachmentX.Right"
        [targetY]="AttachmentY.Center"
        [attachmentY]="AttachmentY.Center">
            Demo tour fourth step left position
    </vcl-tour-step>

    <vcl-tour-step
        target="#heading2"
        [debug]="debugTour"
        [debugPopover]="debugPopover"
        [targetX]="AttachmentX.Right"
        [attachmentX]="AttachmentX.Left"
        [targetY]="AttachmentY.Center"
        [attachmentY]="AttachmentY.Center">
            Demo tour fifth step right position
    </vcl-tour-step>
    
</section>