
// TODO: some vcl workarounds 

.vclLayerBox
  min-width: unset

.vclPopOver
  position: unset

.vclInputGroupEmb, .vclFormControlGroup, .vclDropdownItem, .vclDropdownSeperator, .vclDropdownHeader, .vclFormInlineControlGroup
  display: block
