
// TODO: some vcl workarounds 

.vclLayerBox
  min-width: unset

.vclPopOver
  position: unset

.vclInputGroupEmb, .vclInputControlGroup, .vclDropdownItem, .vclDropdownSeperator, .vclDropdownHeader
  display: block

