<ng-template #countryTemplate let-name="name" let-desc="desc" let-code="code">
  <div class="country-pane">
    <div class="row">
      <div>
        <img class="responsive-image" ngSrc="https://picsum.photos/90/90" />
      </div>
      <div class="gutter-margin flex">
        <div class="row">
          <div class="row center flex">
            <h2 class="m-0">{{ name }}</h2>
            &nbsp;&nbsp;
            <span class="badge">Country</span>
          </div>
        </div>
        <div *ngIf="desc">{{ desc }}</div>
      </div>
    </div>

    <button (click)="onDeleteCountry(code, $event)" vcl-button class="square transparent hide delete-button">
      <vcl-icon icon="mdi mdi-trash-can" aria-label="Delete Country"></vcl-icon>
    </button>
  </div>
</ng-template>

<div class="row justify-content-between align-item-center">
  <h2 class="my-0">Adding and Removing Items in the datalist</h2>

  <button vcl-button (click)="onAddCountry()">Add item</button>
</div>

<vcl-data-list [(value)]="selectedValues" [mode]="mode">
  <vcl-data-list-header>
    <h2>Countries</h2>
  </vcl-data-list-header>
  <ng-container *ngFor="let country of countriesList">
    <vcl-data-list-item [value]="country.code" [disabled]="country.disabled">
      <ng-container
        *ngTemplateOutlet="
          countryTemplate;
          context: { name: country.name, desc: country.description, code: country.code }
        "></ng-container>
    </vcl-data-list-item>
  </ng-container>
</vcl-data-list>

<p>Selected value: {{ selectedValues | json  }}</p>
<!-- <div class="data-list-item row" role="option" aria-selected="false">
  <div>
    <img class="responsive-image" src="https://picsum.photos/180/180">
  </div>
  <div class="gutter-margin flex">
    <div class="row">
      <div class="row center flex">
        <h2 class="m-0">Kitty Cat</h2>&nbsp;&nbsp;
        <span class="badge">Pet</span>
      </div>
      <div class="secondary-text-color align-right">
        <i>September 2, 2023</i><br>
        <span>Julia</span>
      </div>
    </div>
    <div>
      Idiosyncratic creature which makes miaow
    </div>
  </div>
</div> -->
