.country-pane {
  position: relative;
}

.country-pane:hover .delete-button.hide {
  display: inline !important;
}

.delete-button {
  position: absolute;
  right: 0;
  top: 0;

  .icon {
    font-size: 1.5em;
  }
}
