// TODO: remove vcl workarounds 
.layer-box
  min-width: unset

.pop-over
  position: unset

.tooltip
  position: relative

.dropdown
  position: unset
  z-index: unset
  min-width: 0
  max-height: 100%
