// TODO: remove vcl workarounds 
.vclLayerBox
  min-width: unset

.vclPopOver
  position: unset

.vclInputGroupEmb, .vclFormControlGroup, .vclDropdownItem, .vclDropdownSeperator, .vclDropdownHeader, .vclFormInlineControlGroup, .vclNavigation, .vclNavigationItem
  display: block

.vclNavigation.vclLayoutHorizontal
  flex-wrap: nowrap

.vclDropdown
  position: unset
  z-index: unset
  min-width: unset
  max-height: unset
