// TODO: remove vcl workarounds 
.vclLayerBox
  min-width: unset

.vclPopOver
  position: unset

.vclTooltip
  position: relative

vcl-select-list-separator, vcl-select-list-header
  display: block

.vclNavigation.vclLayoutHorizontal
  flex-wrap: nowrap

.vclDropdown
  position: unset
  z-index: unset
  min-width: 0
  max-height: 100%

vcl-hint-warning
  &.vclWarning
    color: var(--warning-dark-color)

.vclDatePicker
  & .vclCalendar
    margin-bottom: 0
    width: 100%
