<h3>Default</h3>

<vcl-tab-nav >
  <vcl-tab>
    <ng-template vcl-tab-label>Tab1</ng-template>
    Content1
  </vcl-tab>
  <vcl-tab>
    <ng-template vcl-tab-label>Tab2</ng-template>
    Content2
  </vcl-tab>
  <vcl-tab [disabled]="true"><ng-template vcl-tab-label>Tab3 disabled</ng-template>
    Content3
  </vcl-tab>
</vcl-tab-nav>

<hr>

<h3>With layout="right"</h3>

<vcl-tab-nav layout="right" tabContentClass="vclSpan-70p" tabsClass="vclSpan-30p">
  <vcl-tab>
    <ng-template vcl-tab-label>Tab1</ng-template>
    Content1
  </vcl-tab>
  <vcl-tab>
    <ng-template vcl-tab-label>Tab2</ng-template>
    Content2
  </vcl-tab>
</vcl-tab-nav>

<hr>

<h3>With layout="left"</h3>

<vcl-tab-nav layout="left" tabContentClass="vclSpan-70p" tabsClass="vclSpan-30p">
  <vcl-tab>
    <ng-template vcl-tab-label>Tab1</ng-template>
    Content1
  </vcl-tab>
  <vcl-tab>
    <ng-template vcl-tab-label>Tab2</ng-template>
    Content2
  </vcl-tab>
</vcl-tab-nav>

<hr>

<h3>With borders=true</h3>

<vcl-tab-nav borders=true>
  <vcl-tab>
    <ng-template vcl-tab-label>Tab1</ng-template>
    Content1
  </vcl-tab>
  <vcl-tab>
    <ng-template vcl-tab-label>Tab2</ng-template>
    Content2
  </vcl-tab>
</vcl-tab-nav>

<h3>Shared content template</h3>

<vcl-tab-nav [(selectedTabIndex)]="tabIndex">
  <vcl-tab>
    <ng-template vcl-tab-label>Tab1</ng-template>
  </vcl-tab>
  <vcl-tab>
    <ng-template vcl-tab-label>Tab2</ng-template>
  </vcl-tab>
  Shared Content Tab: {{tabIndex}}
</vcl-tab-nav>
