<div class="vclLayoutVertical docMain">
  <header class="vclApplicationHeader vclLayoutHorizontal vclLayoutCenter vclLayoutJustified">
    <div role="banner">
      <a href="#" class="vclLayoutHorizontal vclLayoutCenter">
        <img class="vclResponsiveImage vclLogo" role="presentation" src="https://cdn.rawgit.com/ng-vcl/ng-vcl/master/gfx/angular_vcl_logo_square.png">
        <h1 class="vclAppName">Angular VCL Demo Browser (v{{version}})</h1>
      </a>
    </div>
    <div><a href="https://github.com/ng-vcl/ng-vcl" target="_blank" title="to Github">
      <span class="vclIcon fa fa-github fa-3x"></span> </a>
    </div>
  </header>
  <div class="vclContentArea vclLayoutFlex vclLayoutHorizontal">
    <div class="vclLayoutVertical docNav">
      <div class="vclInputGroupEmb">
        <span class="vclPrepended">
          <vcl-icon icon="fa:search"></vcl-icon>
        </span>
 
        <input #searchInput (keyup)="search(searchInput.value)"
          class="vclInput vclNoBorder vclPrepItem vclAppItem searchInput"
          type="search"
          name="search"
          placeholder="Search Modules"
          autocomplete="off"
          autofocus />

        <button vcl-button *ngIf="searchInput.value"
          (tap)="searchInput.value = ''; search('')" 
          class="vclButton vclTransparent vclSquare vclAppended"
          appIcon="fa:times-circle"></button>
      </div>

      <nav vcl-navigation class="vclScrollable vclYOnHover vclLayoutFlex"
        [type]="'vertical'"
        [useRouter]="true"
        [subLevelHintIconSide]="'left'"
        [subLevelHintIconOpened]="'fa:angle-down'"
        [subLevelHintIconClosed]="'fa:angle-right'">

        <div *ngIf="searchResults.length; else noSearch">
          <vcl-navitem *ngFor="let searchResult of searchResults" [label]="searchResult.label" [route]="searchResult.route"></vcl-navitem>
        </div>

        <ng-template #noSearch>
          <vcl-navitem *ngFor="let item of GROUPED_DEMOS" [label]="item.label">
            <ng-container *ngIf="item.items">
              <vcl-navitem *ngFor="let subitem of item.items" [label]="subitem.label" [route]="subitem.route"></vcl-navitem>
            </ng-container>
          </vcl-navitem>
        </ng-template>

      </nav>
    </div>
    <div class="vclScrollable vclLayoutFlex docContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
