<vcl-popover #popover
  [debug]="debugPopover"
  [visible]="visible"
  [target]="target"
  [targetX]="targetX"
  [attachmentX]="attachmentX"
  [targetY]="targetY"
  [attachmentY]="attachmentY"
  [style.z-index]="20">

  <div class="vclTourContainer">

    <div class="vclTourContainerHeader" *ngIf="title">
      {{ title }}
    </div>

    <div class="vclTourContainerContent">
      <ng-content></ng-content>
    </div>

    <div class="vclTourContainerFooter">
      
      <button vcl-button *ngIf="hasPrevious"
        [ngClass]="hint.options?.buttonClass"
        [label]="hint.options?.previousLabel"
        [prepIcon]="hint.options?.previousIcon"
        (click)="previous()">
      </button>

      <button vcl-button *ngIf="hasNext"
        [ngClass]="hint.options?.buttonClass"
        [label]="hint.options?.nextLabel"
        [appIcon]="hint.options?.nextIcon"
        (click)="next()">
      </button>

      <button vcl-button
        [ngClass]="hint.options?.buttonClass"
        [label]="hint.options?.exitLabel"
        [prepIcon]="hint.options?.exitIcon"
        (click)="exit()">
      </button>

    </div>
    
  </div>

</vcl-popover>