<div *ngIf="showMe"
  class="vclTourContainer {{ transformClass }} step{{ order }} {{ position }}"
  [ngStyle]="{'top': topPos+'px', 'left': leftPos+'px'}" >

    <div class="vclTourContainerHeader" *ngIf="title">
      {{ title }}
    </div>

    <div class="vclTourContainerContent">
      <ng-content></ng-content>
    </div>

    <div class="vclTourContainerFooter">
      
      <button vcl-button *ngIf="hasPrevious"
        class="vclText {{ hint?.options?.buttonClass }}"
        [label]="hint.options.previousLabel"
        [prepIcon]="hint.options.previousIcon"
        (click)="previous()">
      </button>

      <button vcl-button *ngIf="hasNext"
        class="{{ hint?.options?.buttonClass }}"
        [label]="hint.options.nextLabel"
        [appIcon]="hint.options.nextIcon"
        (click)="next()">
      </button>

      <button vcl-button
        class="{{ hint?.options?.buttonClass }}"
        [label]="hint.options.exitLabel"
        [prepIcon]="hint.options.exitIcon"
        (click)="exit()">
      </button>

    </div>
  </div>