<h3>Default Datepicker</h3>
<vcl-date-picker style="width: 18em;"></vcl-date-picker>

<h3>Ranged Datepicker</h3>
<vcl-date-picker style="width: 18em;" 
                 [selectedDate]="selectedDate" 
                 [selectedRangeEnd]="selectedRangeEnd" 
                 [selectRange]="selectRange" 
                 [maxRangeLength]="7" 
                 [minDate]="minDate">
</vcl-date-picker>

<h3>Minimal Datepicker</h3>
<vcl-date-picker style="width: 25em;" 
                [displayJumpToday]="false" 
                [displayJumpSelected]="false" 
                [displayWeekNumbers]="false" 
                [displayWeekdays]="false">
</vcl-date-picker>
