<h3>Button Dropdown</h3>

<div class="vclButtonGroup" #target>
  <button vcl-button label="Some action"></button>
  <button vcl-button prepIcon="fa:chevron-down" (tap)="dropOver.toggle()"></button>
</div>

<vcl-popover #dropOver [target]="target" class="vclNoPadding" (offClick)="offClick()">
  <vcl-dropdown (change)="onSelect($event)">
    <vcl-dropdown-option *ngFor="let i of [0, 1, 2, 3, 4]" [value]="i" [selected]="i == 1" label="Item {{ i }}"></vcl-dropdown-option>
  </vcl-dropdown>
</vcl-popover>

<p>Selected index: {{ value }}</p>
