<p>This section shows several ubiquitus form components which
   are not available as a single component but can be built as mashups
   of form controls available in the ng-vcl.</p>

<br>
<h3>Split Button with Dropdown</h3>

<div class="vclButtonGroup" #target>
  <button vcl-button label="Primary Action"></button>
  <button vcl-button prepIcon="fa:chevron-down" (tap)="dropOver.toggle()"></button>
</div>

<vcl-popover #dropOver [target]="target" class="vclNoPadding" (offClick)="offClick()">
  <vcl-dropdown [value]="1" (change)="onSelect($event)">
    <vcl-dropdown-option *ngFor="let i of [0, 1, 2, 3, 4]" [value]="i" label="Item {{ i }}"></vcl-dropdown-option>
  </vcl-dropdown>
</vcl-popover>
<br>
<p>Selected index: {{ value }}</p>
