<button vcl-button (tap)="message()" label="A message"></button><br><br>
<button vcl-button (tap)="messageWithTitle()" label="A title and a message"></button><br><br>
<button vcl-button (tap)="success()" label="A success message"></button><br><br>
<button vcl-button (tap)="warning()" label="A warning"></button><br><br>
<button vcl-button (tap)="htmlMessage()" label="A html message"></button><br><br>
<button vcl-button (tap)="info()" label="An info message"></button><br><br>
<button vcl-button (tap)="question()" label="A question"></button><br><br>
<button vcl-button (tap)="loader()" label="A loader"></button><br><br>
<button vcl-button (tap)="async()" label="An async request"></button><br><br>
<button vcl-button (tap)="retry()" label="Retrying an async request"></button><br><br>
<button vcl-button (tap)="inputText()" label="A text input"></button><br><br>
