<vcl-icon icon='vcl:close'></vcl-icon> vcl:close<br>
<vcl-icon icon='vcl:busy'></vcl-icon> vcl:busy<br>
<vcl-icon icon='vcl:box'></vcl-icon> vcl:box<br>
<vcl-icon icon='vcl:box-checked'></vcl-icon> vcl:box-checked<br>
<vcl-icon icon='vcl:circle'></vcl-icon> vcl:circle<br>
<vcl-icon icon='vcl:circle-checked'></vcl-icon> vcl:circle-checked<br>
<vcl-icon icon='vcl:question'></vcl-icon> vcl:question<br>
<vcl-icon icon='vcl:info'></vcl-icon> vcl:info<br>
<vcl-icon icon='vcl:success'></vcl-icon> vcl:success<br>
<vcl-icon icon='vcl:warning'></vcl-icon> vcl:warning<br>
<vcl-icon icon='vcl:error'></vcl-icon> vcl:error<br>
<vcl-icon icon='vcl:arrow-left'></vcl-icon> vcl:arrow-left<br>
<vcl-icon icon='vcl:arrow-right'></vcl-icon> vcl:arrow-right<br>
<vcl-icon icon='vcl:arrow-down'></vcl-icon> vcl:arrow-down<br>
<vcl-icon icon='vcl:arrow-up'></vcl-icon> vcl:arrow-up<br>
<vcl-icon icon='vcl:arrow-double-left'></vcl-icon> vcl:arrow-double-left<br>
<vcl-icon icon='vcl:arrow-double-right'></vcl-icon> vcl:arrow-double-right<br>
<vcl-icon icon='vcl:arrow-double-down'></vcl-icon> vcl:arrow-double-down<br>
<vcl-icon icon='vcl:arrow-double-up'></vcl-icon> vcl:arrow-double-up<br>
<vcl-icon icon='vcl:upload'></vcl-icon> vcl:upload<br>
<vcl-icon icon='vcl:eye'></vcl-icon> vcl:eye<br>
<vcl-icon icon='vcl:eye-off'></vcl-icon> vcl:eye-off<br>
<vcl-icon icon='vcl:star'></vcl-icon> vcl:star<br>
<vcl-icon icon='vcl:star-half'></vcl-icon> vcl:star-half<br>
<vcl-icon icon='vcl:star-empty'></vcl-icon> vcl:star-empty<br>
<vcl-icon icon='vcl:add'></vcl-icon> vcl:add<br>
<vcl-icon icon='vcl:remove'></vcl-icon> vcl:remove<br>
