<p>Current value: {{rgValue1}}</p>

<h3>Basic radio group</h3>
<vcl-radio-group [(ngModel)]="rgValue2">
  <label vclRadioButtonLabel>
    <vcl-radio-button value="m"></vcl-radio-button>
    <vcl-icogram appIcon="fas:mars">Male</vcl-icogram>
  </label>
  <label vclRadioButtonLabel>
    <vcl-radio-button value="f"></vcl-radio-button>
    <vcl-icogram appIcon="fas:venus">Female</vcl-icogram>
  </label>
  <label vclRadioButtonLabel>
    <vcl-radio-button value="g"></vcl-radio-button>
    <vcl-icogram appIcon="fas:genderless">Genderless</vcl-icogram>
  </label>
</vcl-radio-group>
<p>Current value: {{rgValue2}}</p>

<h3>Vertical radio group</h3>
<vcl-radio-group layout="vertical" [(ngModel)]="rgValue3">
  <label vclRadioButtonLabel>
    <vcl-radio-button value="m"></vcl-radio-button>
    <vcl-icogram appIcon="fas:mars">Male</vcl-icogram>
  </label>
  <label vclRadioButtonLabel>
    <vcl-radio-button value="f"></vcl-radio-button>
    <vcl-icogram appIcon="fas:venus">Female</vcl-icogram>
  </label>
  <label vclRadioButtonLabel>
    <vcl-radio-button value="g"></vcl-radio-button>
    <vcl-icogram appIcon="fas:genderless">Genderless</vcl-icogram>
  </label>
</vcl-radio-group>
<p>Current value: {{rgValue3}}</p>
  