<h3>Checkable:</h3>
<vcl-radio-button [(checked)]="isChecked" (checkedChange)="onChange($event)"></vcl-radio-button>
<br/>
<b>State:</b> {{isChecked}}
<br>
<button vcl-button (tap)="isChecked=false">Uncheck</button>

<br>
<h3>Disabled:</h3>
<vcl-radio-button [disabled]="true"></vcl-radio-button>

<br>
<h3>With label:</h3>

<h4>right:</h4>
<vcl-radio-button [(checked)]="isChecked2" label="rightLabel" labelPosition="right"></vcl-radio-button>

<h4>left:</h4>
<vcl-radio-button [(checked)]="isChecked3" label="leftLabel" labelPosition="left"></vcl-radio-button>

<br>
<h3>With custom content:</h3>

<vcl-radio-button [(checked)]="isChecked4">
  <vcl-icogram label="Yes" appIcon="fa:check"></vcl-icogram>
</vcl-radio-button>


<h3>Radio Group using index as value:</h3>

<vcl-radio-group [(ngModel)]="rgValue1">
  <vcl-radio-button label="Value 1"></vcl-radio-button>
  <vcl-radio-button label="Value 2"></vcl-radio-button>
</vcl-radio-group>
<br>
State: {{rgValue1}}

<h3>Radio Group using custom values:</h3>

<vcl-radio-group [(ngModel)]="rgValue2">
  <vcl-radio-button [value]="'f'">
    <vcl-icogram label="Female" appIcon="fa:venus"></vcl-icogram>
  </vcl-radio-button>
  <vcl-radio-button [value]="'m'">
    <vcl-icogram label="Male" appIcon="fa:mars"></vcl-icogram>
  </vcl-radio-button>
</vcl-radio-group>
<br>
State: {{rgValue2}}
