<h3>Template-based</h3>
<form #f="ngForm" class="vclForm" [class.vclFormHorizontal]="true" novalidate>

  <vcl-select ngModel name="itemselect" [items]="items"></vcl-select>

  <br/><br/> Radio: <br/>
  <vcl-radio-button ngModel name="myradio">Radio me</vcl-radio-button>

  <br/><br/> Dropdown: <br/>
  <vcl-dropdown [items]="items" [maxSelectableItems]="1" [expanded]="true" ngModel name="mydropdown"></vcl-dropdown>


  <br/><br/> Checkbox: <br/>
  <vcl-checkbox [checked]="false" ngModel name="mycheckbox">Check me</vcl-checkbox>


  <br/>
  <br/> Input me:
  <input vcl-input ngModel name="myname" required pattern=".{5,10}">


  <br/><br/> FlipSwitch: <br/>
  <vcl-flip-switch onLabel="An" offLabel="Aus" ngModel name="flip"></vcl-flip-switch>

  <br/><br/> DatePicker: <br/>
  <div style="width: 251px;border-style: solid;">
    <vcl-date-picker ngModel name="datepick"></vcl-date-picker>
  </div>


  <br/><br/> Slider: <br/>
  <vcl-slider [min]="0" [max]="100" [step]="20" [round]="0"
  [value]="30" [scaleNames]="customScaleNames2" ngModel name="slider" [stepsOnly]="false">
  </vcl-slider>




</form>


<div class="value">
  <h4>Value: {{ f.value | json }}</h4>
</div>

<div class="error">
  <h4>Status: {{ f.control.status }}</h4>
</div>

<br/><br/><br/><br/><br/><br/>

<h3>Module-based</h3>
<form class="vclForm" novalidate [formGroup]="form">


  <vcl-select formControlName="itemselect" [items]="items"></vcl-select>

  <br/><br/> Radio: <br/>
  <vcl-radio-button formControlName="myradio">Radio me</vcl-radio-button>

  <br/><br/> Dropdown: <br/>
  <vcl-dropdown [items]="items" [maxSelectableItems]="1" [expanded]="true" formControlName="mydropdown"></vcl-dropdown>


  <br/><br/> Checkbox: <br/>
  <vcl-checkbox [checked]="false" formControlName="mycheckbox">Check me</vcl-checkbox>


  <br/>
  <br/> Input me:
  <input type="text" formControlName="myname">

  <br/>
  <br/> Input me (must be equal):
  <input type="text" formControlName="myname2">


  <br/><br/> FlipSwitch: <br/>
  <vcl-flip-switch onLabel="An" offLabel="Aus" formControlName="flip"></vcl-flip-switch>


  <br/><br/> Tokenlist: <br/>
  <vcl-token-list formControlName="tokenlist" [tokens]="tokenList"></vcl-token-list>

  <br/><br/> TokenInput: <br/>
  <vcl-token-input formControlName="tokeninput"></vcl-token-input>


  <br/><br/> DatePicker: <br/>
  <div style="width: 251px;border-style: solid;">
    <vcl-date-picker formControlName="datepick"></vcl-date-picker>
  </div>

  <br/><br/> Slider: <br/>
  <vcl-slider [min]="0" [max]="100" [step]="20" [round]="0"
  [value]="30" [scaleNames]="customScaleNames2" formControlName="slider" [stepsOnly]="false">
  </vcl-slider>


</form>


<div class="value">
  <h4>Value: {{ form.value | json }}</h4>
</div>

<div class="error">
  <h4>Status: {{ form.status }}</h4>
</div>
