<h1>Template-based</h1>
<form #f="ngForm" class="vclForm" [class.vclFormHorizontal]="true" novalidate>

  <vcl-select ngModel name="itemselect" [items]="items"></vcl-select>

  <br/><br/> Radio: <br/>
  <vcl-radio-button ngModel name="myradio">Radio me</vcl-radio-button>

  <br/><br/> Dropdown: <br/>
  <vcl-dropdown [items]="items" [maxSelectableItems]="1" [expanded]="true" ngModel name="mydropdown"></vcl-dropdown>


  <br/><br/> Checkbox: <br/>
  <vcl-checkbox [checked]="false" ngModel name="mycheckbox">Check me</vcl-checkbox>


  <br/>
  <br/> Input me:
  <input vcl-input ngModel name="myname" required pattern=".{5,10}">

</form>


<div class="value">
  <h4>Value: {{ f.value | json }}</h4>
</div>

<div class="error">
  <h4>Status: {{ f.control.status }}</h4>
</div>




<h1>Module-based</h1>
<form class="vclForm" novalidate [formGroup]="form">


  <vcl-select formControlName="itemselect" [items]="items"></vcl-select>

  <br/><br/> Radio: <br/>
  <vcl-radio-button formControlName="myradio">Radio me</vcl-radio-button>

  <br/><br/> Dropdown: <br/>
  <vcl-dropdown [items]="items" [maxSelectableItems]="1" [expanded]="true" formControlName="mydropdown"></vcl-dropdown>


  <br/><br/> Checkbox: <br/>
  <vcl-checkbox [checked]="false" formControlName="mycheckbox">Check me</vcl-checkbox>


  <br/>
  <br/> Input me:
  <input type="text" formControlName="myname">

  <br/>
  <br/> Input me (must be equal):
  <input type="text" formControlName="myname2">

</form>


<div class="value">
  <h4>Value: {{ form.value | json }}</h4>
</div>

<div class="error">
  <h4>Status: {{ form.status }}</h4>
</div>
