<vcl-form layout="vertical"  (ngSubmit)="changed($event)">

  Select me:
  <vcl-select #select [items]="items"></vcl-select>

  <br/>
  <br/> Radio me:
  <vcl-radio-button [(checked)]="checked1"></vcl-radio-button>

  <br/>
  <br/> Check me:
  <vcl-checkbox [(checked)]="checked2"></vcl-checkbox>


  <br/>
  <br/> Input me:
  <input vcl-input [(ngModel)]="data1" required pattern=".{5,10}">
  <br/>
  <b>Input value:</b> {{data1}}


  <br/>
  <br/>
  <br/> Grouped input:
  <vcl-input-control-group inline="true">
    <input vcl-input [(ngModel)]="data1">
    <input vcl-input [(ngModel)]="data1">
    <input vcl-input [(ngModel)]="data1">
  </vcl-input-control-group>


  <label>Password:</label>
  <input type="password" [ngModel]="data.user.password" required>




</vcl-form>
