@use '@vcl/vcl/theme' as *;

html,
.viewport,
.app {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

header {
  padding: 1em;
  position: relative;

  &.application-header {
    background-color: $gray-light-5;
    margin: 0;
  }
}

.content-area {
  overflow: hidden;
}

.docContent {
  max-height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.docMetadata {
  margin-bottom: 1em;

  & .grid-span-gca,
  & .grid-span-gcb {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.docQuicklinks {
  position: absolute;
  right: 25px;
  top: 25px;
}

.docDemo {
  margin-top: 15px;
  margin-bottom: 40px;
}

.docDemoContent {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0;
  margin: 0;
  overflow: auto;
  position: relative;
  transform: translateZ(0);
}

.docPart {
  margin-bottom: 20px;
}

.docMetadata {
  padding-top: 10px;
  margin-left: 1.5em;
}

.docNav
  > .drawer-inner
  > .navigation
  > div
  > .navigation-item
  > .navigation-item-label {
  font-weight: bold;
}

.docEditDemoButton {
  float: right;
}

.cal-item.selected.bgGreen {
  background-color: #409f4d;
}

code.hljs {
  white-space: inherit;
}

// json-editor
.jsoneditor-frame input {
  min-height: 0.5em !important;
}

$nag-bg-color: $gray-light-6;
