/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*='language-'],
pre[class*='language-'] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.prism-token.prism-comment,
.prism-token.prism-prolog,
.prism-token.prism-doctype,
.prism-token.prism-cdata {
  color: slategray;
}

.prism-token.prism-punctuation {
  color: #999;
}

.prism-token.prism-namespace {
  opacity: 0.7;
}

.prism-token.prism-property,
.prism-token.prism-tag,
.prism-token.prism-boolean,
.prism-token.prism-number,
.prism-token.prism-constant,
.prism-token.prism-symbol,
.prism-token.prism-deleted {
  color: #905;
}

.prism-token.prism-selector,
.prism-token.prism-attr-name,
.prism-token.prism-string,
.prism-token.prism-char,
.prism-token.prism-builtin,
.prism-token.prism-inserted {
  color: #690;
}

.prism-token.prism-operator,
.prism-token.prism-entity,
.prism-token.prism-url,
.prism-language-css .prism-token.prism-string,
.prism-style .prism-token.prism-string {
  color: #9a6e3a;
  background: hsla(0, 0%, 100%, 0.5);
}

.prism-token.prism-atrule,
.prism-token.prism-attr-value,
.prism-token.prism-keyword {
  color: #07a;
}

.prism-token.prism-function,
.prism-token.prism-class-name {
  color: #dd4a68;
}

.prism-token.prism-regex,
.prism-token.prism-important,
.prism-token.prism-variable {
  color: #e90;
}

.prism-token.prism-important,
.prism-token.prism-bold {
  font-weight: bold;
}
.prism-token.prism-italic {
  font-style: italic;
}

.prism-token.prism-entity {
  cursor: help;
}
