
// TODO: some vcl workarounds 

.vclLayerBox
  min-width: unset

.vclPopOver
  position: unset

.vclInputGroupEmb
  display: block

.vclDropdownItem
  display: block

.vclDropdownSeperator
  display: block

.vclDropdownHeader
  display: block
