<h3>Sample Zoom-Box</h3>
<div class="grid-row">
  <div class="grid-span-4">
    <vcl-zoom-box-container
      #first
      [x]="30"
      [y]="60"
      [width]="120"
      [height]="190">
      <img ngSrc="https://picsum.photos/320/320?image=434" />
      <vcl-zoom-box-magnifier></vcl-zoom-box-magnifier>
    </vcl-zoom-box-container>
  </div>
  <div class="grid-span-4">
    <vcl-zoom-box [target]="first"></vcl-zoom-box>
  </div>
</div>
<br /><br />

<h3>Zoom-Box with a higher resolution image and mouse reset</h3>
<div class="grid-row">
  <div class="grid-span-4">
    <vcl-zoom-box-container
      #second
      [x]="30"
      [y]="60"
      [width]="190"
      [height]="120"
      [resetOnOut]="true">
      <img ngSrc="https://picsum.photos/320/320?image=434" />
      <vcl-zoom-box-magnifier></vcl-zoom-box-magnifier>
    </vcl-zoom-box-container>
  </div>
  <div class="grid-span-4">
    <vcl-zoom-box
      [target]="second"
      image="https://picsum.photos/640/640?image=434"
      [scale]="2"></vcl-zoom-box>
  </div>
</div>
<br /><br />

<h3>Zoom-Box with an initially hidden magnifier</h3>
<div class="grid-row">
  <div class="grid-span-4">
    <vcl-zoom-box-container
      #third
      [x]="30"
      [y]="60"
      [width]="190"
      [height]="120"
      [hiding]="true">
      <img ngSrc="https://picsum.photos/320/320?image=434" />
      <vcl-zoom-box-magnifier></vcl-zoom-box-magnifier>
    </vcl-zoom-box-container>
  </div>
  <div class="grid-span-4">
    <vcl-zoom-box
      [target]="third"
      image="https://picsum.photos/640/640?image=434"
      [scale]="2"></vcl-zoom-box>
  </div>
</div>
<br /><br />

<h3>Zoom-Box with appearing magnifier</h3>
<div class="grid-row">
  <div class="grid-span-4">
    <vcl-zoom-box-container
      #fourth
      [x]="30"
      [y]="60"
      [width]="190"
      [height]="120"
      [hidden]="true"
      [hiding]="true">
      <img ngSrc="https://picsum.photos/320/320?image=434" />
      <vcl-zoom-box-magnifier></vcl-zoom-box-magnifier>
    </vcl-zoom-box-container>
  </div>
  <div class="grid-span-4">
    <vcl-zoom-box
      [target]="fourth"
      image="https://picsum.photos/640/640?image=434"
      [scale]="2"></vcl-zoom-box>
  </div>
</div>
<br /><br />

<h3>Zoom-Box with an constantly hidden magnifier</h3>
<div class="grid-row">
  <div class="grid-span-4">
    <vcl-zoom-box-container
      #fifth
      [x]="30"
      [y]="60"
      [width]="190"
      [height]="120"
      [invisible]="true">
      <img ngSrc="https://picsum.photos/320/320?image=434" />
      <vcl-zoom-box-magnifier></vcl-zoom-box-magnifier>
    </vcl-zoom-box-container>
  </div>
  <div class="grid-span-4">
    <vcl-zoom-box
      [target]="fifth"
      image="https://picsum.photos/640/640?image=434"
      [scale]="2"></vcl-zoom-box>
  </div>
</div>
