<div #notification class="vclNotification" [ngClass]="notificationStyleClass" [ngStyle]="notificationStyles">

  <div class="vclNotificationHeader vclLayoutHorizontal vclLayoutCenter" *ngIf="header || (nested && headerComponent != null)" [ngStyle]="headerStyle">
    <div class="vclLayoutFlex" *ngIf="!nested">{{ header }}</div>
    <button vcl-button class="vclTransparent vclSquare" *ngIf="(button && showButton) && !nested" (tap)="onClick()" [appIcon]="button"></button>

    <ng-content *ngIf="nested && headerComponent != null" select="vcl-notification-header"></ng-content>
  </div>

  <div [ngClass]="{'vclLayoutHorizontal': !verticalBody, 'vlcLayoutVertical': verticalBody}" [ngStyle]="bodyStyle">
    <div class="vclNotificationIconContainer" *ngIf="drawIcon" [ngStyle]="bodyIconStyle">
      <span class="vclIcon vclNotificationIcon {{ eIconClass }}" *ngIf="iconType == 'fa' || iconType == 'custom'"></span>
      <img class="vclIcon vclNotificationIcon" [src]="iconImage" *ngIf="iconType == 'image'">
    </div>

    <div class="vclNotificationContent vclLayoutFlex">
      <ng-content *ngIf="!nested"></ng-content>

      <ng-content *ngIf="nested && bodyComponent != null" select="vcl-notification-body"></ng-content>
    </div>

    <button vcl-button class="vclTransparent vclSquare vclLayoutSelfStart" *ngIf="(button && showButton) && !header" (tap)="onClick()" [appIcon]="button"></button>
  </div>

  <div class="vclNotificationFooter vclLayoutHorizontal vclLayoutCenter" [ngStyle]="footerStyle" *ngIf="footer || (nested && footerComponent != null)">
    <ng-container *ngIf="footer && !nested">{{ footer }}</ng-container>
    <ng-content *ngIf="nested && footerComponent != null" select="vcl-notification-footer"></ng-content>
  </div>

</div>
