<div *ngFor="let notification of notifications" 
  (mouseenter)="notification.mouseEnter()" 
  (mouseleave)="notification.mouseLeave()" 
  class="vclNotification vclLayoutHorizontal vclLayoutCenter" 
  [ngClass]="notification.layerClass" 
  [style.color]="notification.textColor"
  [style.background-color]="notification.backgroundColor"
  [@notificationState]="notification.state" 
  >
  <div class="vclNotificationIconContainer">
    <span *ngIf="notification.iconClass" class="vclIcon vclNotificationIcon" [ngClass]="notification.iconClass"></span>
  </div>
  <div class="vclNotificationContent vclLayoutFlex">
    <div *ngIf="notification.text && !notification.html">{{notification.text}}</div>
    <div *ngIf="notification.text && notification.html" [innerHtml]="notification.text"></div>
  </div>
   <button vcl-button *ngIf="notification.showCloseButton" (tap)="notification.close()" class="vclSquare vclTransparent vclLayoutSelfStart" prepIcon="fa:times" title="Close"></button>
</div>
