<h3>Basic autocomplete</h3>

<vcl-input-field>
  <vcl-icon icon="fas:flag"></vcl-icon>
  <input placeholder="Search"
         vclInput
         [vclAutocompleteInput]="acCountries"
         />
</vcl-input-field>

<ng-template vclAutocomplete #acCountries="vclAutocomplete">
  <vcl-select-list>
    <vcl-select-list-header>Europe</vcl-select-list-header>
    <vcl-select-list-item value="Greece">
      Greece
      <vcl-sub-label>A country in southeastern Europe with thousands of islands throughout the Aegean and Ionian seas</vcl-sub-label>
    </vcl-select-list-item>
    <vcl-select-list-item value="France">
      France
    </vcl-select-list-item>
    <vcl-select-list-item value="Germany">
      Germany
    </vcl-select-list-item>
    <vcl-select-list-item value="The United Kingdom">
      The United Kingdom of Great Britain and Northern Ireland
    </vcl-select-list-item>
    <vcl-select-list-header>Amercia</vcl-select-list-header>
    <vcl-select-list-item value="United States of America">
      United States of America
    </vcl-select-list-item>
    <vcl-select-list-item value="Brazil">
      Brazil
    </vcl-select-list-item>
    <vcl-select-list-header>Asia</vcl-select-list-header>
    <vcl-select-list-item value="Japan">
      Japan
    </vcl-select-list-item>
    <vcl-select-list-item value="China">
      China
    </vcl-select-list-item>
    <vcl-select-list-item value="Thailand">
      Thailand
    </vcl-select-list-item>
  </vcl-select-list>
</ng-template>
