<h3>vcl-input with fixed data</h3>

<vcl-embedded-input-group prepIcon="fas:search">
  <input vclEmbeddedInputGroup placeholder="Search"  [vclInputAutocomplete]="acCountry" (change)="onChange($event);" />
</vcl-embedded-input-group>

<h3>vcl-token-input with fixed data</h3>

<vcl-token-input-container (tokensChange)="onChange($event)">
  <input vclInput placeholder="Search for country to add" [vclTokenInputAutocomplete]="acCountry" />
</vcl-token-input-container>

<vcl-autocomplete #acCountry="vclAutocomplete">
  <vcl-autocomplete-header>Europe</vcl-autocomplete-header>
  <vcl-autocomplete-item value="gr" label="Greece"></vcl-autocomplete-item>
  <vcl-autocomplete-item value="fr" label="France"></vcl-autocomplete-item>
  <vcl-autocomplete-item value="de" label="Germany"></vcl-autocomplete-item>
  <vcl-autocomplete-item value="uk" label="The United Kingdom of Great Britain and Northern Ireland"></vcl-autocomplete-item>
  <vcl-autocomplete-header>Asia</vcl-autocomplete-header>
  <vcl-autocomplete-item value="jp" label="Japan"></vcl-autocomplete-item>
  <vcl-autocomplete-item value="cn" label="China"></vcl-autocomplete-item>
  <vcl-autocomplete-item value="th" label="Thailand"></vcl-autocomplete-item>
</vcl-autocomplete>

<h3>vcl-token-input with async data</h3>

<vcl-token-input-container (tokensChange)="onChange($event)">
  <input vclInput
         placeholder="Search for books to add"
         [vclTokenInputAutocomplete]="acBooks"
         (input)="booksInput$.next($event.target.value)"
         (autocompleteSelect)="booksInput$.next('')" />
</vcl-token-input-container>

<vcl-autocomplete #acBooks="vclAutocomplete">
  <ng-container *ngIf="ac$ | async as ac">
    <vcl-busy-indicator *ngIf="ac.state === 'loading'" style="padding: 1em"></vcl-busy-indicator>
    <div *ngIf="ac.state === 'success' && ac.books.length === 0" style="padding: 1em">No books found</div>
    <ng-container *ngIf="ac.state === 'success' && ac.books.length > 0">
      <vcl-autocomplete-item *ngFor="let book of ac.books" [label]="book.title" [value]="book.id"></vcl-autocomplete-item>
    </ng-container>
  </ng-container>
</vcl-autocomplete>
