<h4>Label:</h4>
<vcl-label label="mylabel" subLabel="with sub" class="myclass1 myclass2"></vcl-label>

<br/>

<h4>Wrapping Label:</h4>
<vcl-label label="Watch my button" subLabel="my button is amazing" class="myclass1 myclass2">
  <button>button</button>
</vcl-label>

<br/>
<br/>
<vcl-label label="I'm required" subLabel="" class="myclass1 myclass2" [required]="true">
  <input value="foobar" />
</vcl-label>


<br/>
<h4>typed labels:</h4>

<br/>
Primary:
<vcl-label label="mylabel" subLabel="with sub" type="primary"></vcl-label>

<br/>
<br/> sucess:
<vcl-label label="mylabel" subLabel="with sub" type="sucess"></vcl-label>


<br/>
<br/> Info:
<vcl-label label="mylabel" subLabel="with sub" type="info"></vcl-label>


<br/>
<br/> warning:
<vcl-label label="mylabel" subLabel="with sub" type="warning"></vcl-label>

<br/>
<br/> error:
<vcl-label label="mylabel" subLabel="with sub" type="error"></vcl-label>
