<div class="vclTabbable">
  <div class="vclTabs" role="tablist">
    <div *ngFor="let tab of tabs" class="vclTab" role="tab" [class.vclDisabled]="tab.disabled" [class.vclSelected]="currentTab===tab" [class.aria-selected]="currentTab===tab" (tap)="selectTab(tab)">
      <div [connectWormhole]="tab.label"></div>
    </div>
  </div>
  <div *ngIf="!!currentTab" class="vclTabContent vclNoBorder">
    <div role="tabpanel" class="vclTabPanel">
      <div [connectWormhole]="currentTab.content"></div>
    </div>
  </div>
</div>
