<h3>Basic navigation</h3>

<vcl-navigation>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        <vcl-icon vclPrepend icon="vcl:home"></vcl-icon>
        Home
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
  <vcl-navigation-item #products="vclNavigationItem">
    <vcl-navigation-label>
      <vcl-icogram>
        <vcl-icon
          vclPrepend
          [icon]="
            products.opened ? 'vcl:chevron-down' : 'vcl:chevron-right'
          "></vcl-icon>
        Products
      </vcl-icogram>
    </vcl-navigation-label>
    <vcl-navigation>
      <vcl-navigation-item>
        <vcl-navigation-label>
          <vcl-icogram>
            <vcl-icon vclPrepend icon="vcl:bicycle"></vcl-icon>
            Product 1
          </vcl-icogram>
        </vcl-navigation-label>
      </vcl-navigation-item>
      <vcl-navigation-item>
        <vcl-navigation-label>
          <vcl-icogram>
            <vcl-icon vclPrepend icon="vcl:bicycle"></vcl-icon>
            Product 2
          </vcl-icogram>
        </vcl-navigation-label>
      </vcl-navigation-item>
    </vcl-navigation>
  </vcl-navigation-item>
  <vcl-navigation-item #contact="vclNavigationItem">
    <vcl-navigation-label>
      <vcl-icogram>
        <vcl-icon
          vclPrepend
          [icon]="
            contact.opened ? 'vcl:chevron-down' : 'vcl:chevron-right'
          "></vcl-icon>
        Contact
      </vcl-icogram>
    </vcl-navigation-label>
    <vcl-navigation>
      <vcl-navigation-item>
        <vcl-navigation-label>
          <vcl-icogram>
            <vcl-icon vclPrepend icon="vcl:email"></vcl-icon>
            Contact 1
          </vcl-icogram>
        </vcl-navigation-label>
      </vcl-navigation-item>
      <vcl-navigation-item>
        <vcl-navigation-label>
          <vcl-icogram>
            <vcl-icon vclPrepend icon="vcl:email"></vcl-icon>
            Contact 2
          </vcl-icogram>
        </vcl-navigation-label>
      </vcl-navigation-item>
    </vcl-navigation>
  </vcl-navigation-item>
</vcl-navigation>

<h3>Horizontal navigation</h3>

<vcl-navigation layout="horizontal">
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        <vcl-icon vclPrepend icon="vcl:home"></vcl-icon>
        Home
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        <vcl-icon vclPrepend icon="vcl:bicycle"></vcl-icon>
        Products
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        <vcl-icon vclPrepend icon="vcl:email"></vcl-icon>
        Contacts
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
</vcl-navigation>
