<button vcl-button (click)="someAction($event)">Button</button>
<br><br>
<button vcl-button (click)="someAction($event)" disabled=true>Disabled button</button>
<br><br>
<button vcl-button (click)="someAction($event)" label="Label button with appended icon" appIcon="fa:bolt"></button>
<br><br>
<button vcl-button (click)="someAction($event)" label="Label button with prepended icon" prepIcon="fa:bolt"></button>
<br><br>
<button vcl-button (click)="someAction($event)" label="Emphasized label button" class="vclEmphasized"></button>
<br><br>
<button vcl-button (click)="someAction($event)" label="Flexed label button" flexLabel=true></button>
<br><br>
<button vcl-button icon="fa:bolt" title="Square Button" (click)="someAction($event)"></button>
<br><br>
<button vcl-button selectable (select)="someAction($event)">Selectable button</button>
<br><br>
<button vcl-button [selectable]="true" (select)="someAction($event)">Selectable button (preselected)</button>
<br><br>
<button vcl-button (click)="changeButtonState()" [busy]="true" label="Busy button"></button>
