<h3>Basic calendar</h3>

<vcl-calendar [(value)]="date"></vcl-calendar>
Value: {{date}}

<h3>With selectionMode="range"</h3>

<vcl-calendar [(value)]="dateRange" selectionMode="range"></vcl-calendar>
Value: {{dateRange?.start}} - {{dateRange?.end}}

<h3>With selectionMode="multiple", maxSelectableDates=3</h3>

<vcl-calendar [(value)]="dateArray" selectionMode="multiple" [maxSelectableDates]="3"></vcl-calendar>
Value: {{dateArray}}

<h3>With selectionMode="month"</h3>

<vcl-calendar [(value)]="month" selectionMode="month"></vcl-calendar>
Value: {{month}}

<h3>With selectionMode="month-range"</h3>

<vcl-calendar [(value)]="monthRange" selectionMode="month-range"></vcl-calendar>
Value: {{monthRange?.start}} - {{monthRange?.end}}

<h3>With selectionMode="month-multiple", maxSelectableDates=2</h3>

<vcl-calendar [(value)]="monthArray" selectionMode="month-multiple" [maxSelectableDates]="2"></vcl-calendar>
Value: {{monthArray}}

<h3>Disabled</h3>

<vcl-calendar [disabled]="true"></vcl-calendar>

<h3>With dateModifiers</h3>

<vcl-calendar [dateModifiers]="available"></vcl-calendar>

Value: {{date}}

<h3>Custom Footer</h3>

<vcl-calendar #c="vclCalendar">
  <div vclCalendarFooter class="vclDGRow" *ngIf="c.view === 'month'">
    <div class="vclDGCell vclToolbar">
      <div class="vclLayoutFlex vclLayoutHorizontal vclLayoutJustified vclLayoutCenter" role="menubar">
        <button vcl-button class="vclTransparent vclLayoutFlex" type="button" (click)="c.viewDate = today">
          go to today
        </button>
        <button vcl-square-button class="vclTransparent vclLayoutFlex" type="button" (click)="c.viewDate = c.value">
          go to selected
        </button>
      </div>
    </div>
  </div>
</vcl-calendar>
