<h1>ng-vcl Demo</h1>
<nav>
  <a [routerLink]="['/']">Home</a>
  <a [routerLink]="['/icon']">Icon</a>
  <a [routerLink]="['/icogram']">Icogram</a>
  <a [routerLink]="['/button']">Button</a>
  <a [routerLink]="['/layer']">Layer</a>
  <a [routerLink]="['/tether']">Tether</a>
  <a [routerLink]="['/popover']">Popover</a>
  <a [routerLink]="['/input']">Input</a>
  <a [routerLink]="['/radio-button']">Radio Button</a>
  <a [routerLink]="['/checkbox']">Checkbox</a>
  <a [routerLink]="['/form-control-label']">Form Control Label</a>
</nav>
<router-outlet></router-outlet>
