<div class="vclLayoutVertical">
  <header class="vclApplicationHeader vclLayoutHorizontal vclLayoutCenter vclLayoutJustified">
    <div role="banner">
      <a href="#" class="vclLayoutHorizontal vclLayoutCenter">
        <img class="vclResponsiveImage vclLogo" role="presentation" src="https://cdn.rawgit.com/ng-vcl/ng-vcl/master/gfx/angular_vcl.svg">
        <h1 class="vclAppName">Angular VCL Demo Browser</h1>
      </a>
    </div>
    <div><a href="https://github.com/ng-vcl/ng-vcl" target="_blank" title="to Github">
      <span class="vclIcon fa fa-github fa-3x"></span> </a>
    </div>
  </header>
  <div class="vclContentArea vclLayoutHorizontal">
    <div class="vclLayoutVertical">
      <nav class="vclNavigation vclVertical">
        <ul>
          <li class="vclNavigationItem" role="presentation" aria-selected="false">
            <a [routerLink]="'/'" class="vclNavigationItemLabel vclIcogram">
              <span class="vclText"> Home</span>
            </a>
          </li>
          <li *ngFor="let demo of demos" class="vclNavigationItem" role="presentation" aria-selected="false">
            <a [routerLink]="'/' + demo.path" class="vclNavigationItemLabel vclIcogram">
              <span class="vclText"> {{demo.name}}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="vclScrollable vclLayoutFlex">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
