@import "@vcl/breakpoints"
@import "@vcl/theme"
@import "normalize.css"
@import "@vcl/core-modules"
@import "@vcl/font-awesome"
@import "./styles/demo.sss"
@import "./styles/md.css"
@import '@angular/cdk/overlay-prebuilt.css'

// TODO: remove workaround
.vclLayerBoxFix
  min-width: unset
