@use "~normalize.css" as normalize;
@use '@angular/cdk/overlay-prebuilt.css';
@use "~@vcl/vcl/vcl";

@use "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@use "~@fortawesome/fontawesome-free/scss/brands.scss" with (
  $fa-font-path: "~@fortawesome/fontawesome-free/webfonts"
);
@use "~@fortawesome/fontawesome-free/scss/solid.scss" with (
  $fa-font-path: "~@fortawesome/fontawesome-free/webfonts"
);

@use "~@mdi/font/scss/materialdesignicons.scss" with (
  $mdi-font-path: "~@mdi/font/fonts"
);

@use '../lib/ng-vcl';

@use "./styles/demo.scss";
@use "./styles/md.css";
