<div class="vclDatePicker">
  <div class="vclDataGrid vclDGVAlignMiddle vclDGAlignCentered vclCalendar vclNoMargin vclCalInput">


    <div class="vclDGRow">
      <div class="vclDGCell">
        <div class="vclLayoutFlex vclToolbar vclLayoutHorizontal vclLayoutJustified vclPager vclLayoutCenter">
          <button class="vclTransparent vclSquare  vclButton" (click)="prevMonth()">
              <div class="vclIcogram">
                <span class="vclIcon fa fa-angle-left"></span>
              </div>
            </button>
          <span class="vclCalHeaderLabel">
              {{viewDate.getMonthString()}}&nbsp;&nbsp;{{viewDate.getYearString()}}
            </span>
          <button class="vclTransparent vclSquare vclButton" (click)="nextMonth()">
               <div class="vclIcogram">
                  <span class="vclIcon fa fa-angle-right"></span>
                </div>
            </button>
        </div>
      </div>
    </div>

    <div class="vclSeparator"></div>


    <div class="vclDGRow">

      <div *ngIf="displayWeekNumbers" class="vclDGCell timeFragment vclCalItem vclOtherMonth">
        week
      </div>


      <div *ngFor="let day of viewDate.getWeekDays()" class="vclDGCell vclWeekdayLabel">
        {{day}}
      </div>
    </div>




    <div class="vclDGRow" *ngFor="let week of viewDate.getMonthBlock()">

      <div *ngIf="displayWeekNumbers && week.length==7" class="vclDGCell">
        {{week[5].getWeekNumber()}}
      </div>


      <div *ngFor="let day of week" class="vclDGCell timeFragment vclCalItem" [class.vclDisabled]="!viewDate.isSameMonthAndYear(day)" [class.vclSelected]="pickedDate.isSameDay(day)"
       (click)="viewDate.isSameMonthAndYear(day) && select(day)"
       [class.vclToday]="highlightSelected && day.isToday()"
       [class.vclOtherMonth]="!day.isSameMonthAndYear()"
      >
        {{day.date.getDate()}}
      </div>
    </div>




    <div class="vclDGRow">
      <div class="vclDGCell">
        <div class="vclToolbar vclTransparent vclLayoutFlex vclLayoutHorizontal vclLayoutJustified">
          <button title="go to today" class="vclTransparent vclLayoutFlex vclButton" *ngIf="displayJumpToday" (click)="gotoToday()">
             <div class=" vclIcogram">
               <span class="vclText ">go to today</span>
             </div>
           </button>
           <button title="go to selected" class="vclTransparent vclLayoutFlex vclButton" *ngIf="displayJumpSelected" (click)="gotoSelected()">
              <div class=" vclIcogram">
                <span class="vclText ">go to selected</span>
              </div>
            </button>
        </div>
      </div>
    </div>


  </div>
</div>
