<div (offClick)="close()">
  <div
    #select
    class="vclLayoutHorizontal vclSelect vclInputGroupEmb"
    [style.marginBottom]="0"
    >
    <div *ngIf="showDisplayValue" class="vclInput" readonly [class.vclSelected]="focused" (tap)="toggle($event)">
      {{displayValue}}
    </div>
    <div *ngIf="!showDisplayValue" class="vclInput vclTokenInput vclLayoutHorizontal vclLayoutWrap" readonly [class.vclSelected]="focused" (click)="toggle($event)">
      <vcl-token-list [disabled]="disabled">
        <vcl-token *ngFor="let item of selectedItems" [label]="item.label" [removable]="true" (remove)="deselectItem(item.metaItem, $event)"></vcl-token>
      </vcl-token-list>
    </div>

    <button vcl-button
      [disabled]="disabled"
      type="button"
      tabindex="-1"
      class="vclTransparent vclAppended"
      [icon]="expanded ? expandedIcon : collapsedIcon"
      (tap)="toggle()">
    </button>
  </div>

  <vcl-dropdown 
      #dropdown
      tabindex="-1"
      [disabled]="disabled"
      [expanded]="expanded"
      [value]="value"
      [mode]="mode"
      [maxSelectableItems]="maxSelectableItems"
      [style.position]="'relative'"
      [style.top.px]="dropdownTop"
      [style.width]="'100%'"
      [style.position]="'absolute'"
      [style.zIndex]="zIndex"
      (change)="onDropdownChange($event)"
      (itemsChange)="onItemsChange()">
    <vcl-dropdown-option 
      *ngFor="let item of items" 
      [metadata]="item" 
      [value]="item.value" 
      [disabled]="disabled || item.disabled" 
      [label]="item.label" 
      [sublabel]="item.sublabel">
    </vcl-dropdown-option>
  </vcl-dropdown>
</div>
