<h3>Stacked label</h3>
<label vcl-form-control-label [target]="input1">Label</label>
<input #input1="vclInput" vclInput> 

<h3>Wrapping label</h3>
<label vcl-form-control-label>
  Label
  <input vclInput>
</label>

<!-- 
<label vcl-form-control-label label="Label 1" subLabel="Sub label 1" for="form-control-label-demo-1"></label>
<input id="form-control-label-demo-1" class="vclInput" type="text">


<h3>Disabled label</h3>
<label vcl-form-control-label label="Label 3 (disabled)" disabled=true>
  <input class="vclInput vclDisabled" disabled="disabled" type="text">
</label>

<h3>Required label</h3>
<label vcl-form-control-label label="Label 4 (required)" required=true>
  <input class="vclInput" type="text">
</label> -->

<!-- 
<label vcl-form-control-label [target]="input1">Label</label>
<input #input1="vclInput" vclInput class="vclInput" type="text">  -->
