<table vcl-table class="vclFixed vclVAlignMiddle vclRowHoverHighlight vclAltRowColor" >
  <thead>
    <tr>
      <th [span]="50" sort (change)="OnSortingDefaultColumn($event)">
        <span>Default Column ({{defaultColumnSortName}})</span>
        <sort-icon></sort-icon>
      </th>
      <th [span]="20" sort>
        <span>Right aligned Column</span>
        <sort-icon></sort-icon>
      </th>
      <th [span]="20">
        <span>Centered Column</span>
      </th>
      <th [span]="10">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lorem ipsum</td>
      <td [align-right]="true">11.000</td>
      <td align-center>Sent</td>
      <td align-center></td>
    </tr>
    <tr>
      <td nowrap>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua.</td>
      <td [align-right]="true">11.000</td>
      <td align-center>Sent</td>
      <td align-center></td>
    </tr>
    <tr>
      <td><a href="#table">Lorem ipsum dolor sit amet</a>, Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua.</td>
      <td [align-right]="true">11.000</td>
      <td align-center>Sent</td>
      <td align-center></td>
    </tr>
    <tr>
      <td [overflow-ellipsis]="readMore"><a *ngIf="readMore" (click)="readMore = false">Read more</a> Truncated content. Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </td>
      <td [align-right]="true">11.000</td>
      <td hightlight align-center>N/A</td>
      <td align-center></td>
    </tr>
    <tr disabled>
      <td>Disabled row.</td>
      <td [align-right]="true">11.000</td>
      <td hightlight align-center>On hold</td>
      <td align-center></td>
    </tr>
    <tr selectable (click)="isSelected = !isSelected" [selected]="isSelected">
      <td>Click to unselect</td>
      <td [align-right]="true">11.000</td>
      <td hightlight align-center>N/A</td>
      <td align-center></td>
    </tr>
    <tr>
      <td>Normal row.</td>
      <td [align-right]="true">11.000</td>
      <td hightlight align-center>On hold</td>
      <td align-center></td>
    </tr>
  </tbody>
</table>
