<div style="min-height:500px; width: 100%;">
  <button vcl-button [selectable]="true" [selected]="popover1.visible" (click)="popover1.toggle()">Toggle Popover</button>
  <div #target style="position: absolute; top: 300px; left: 200px; padding: 10px; border: 3px double green">
    The target
  </div>
</div>

<ng-template
  vclPopover
  #popover1="vclPopover"
  [target]="target"
  (afterClose)="popover2.close()">
  <div class="p-2" style="width: 400px;">
    Popover is connected to the target
    <div class="loose-button-group row justify-content-end mt-2">
      <button vcl-button (click)="popover1.close();">Close Popovers</button>
      <button vcl-button (click)="popover2.open()">Show additional Popover</button>
    </div>
  </div>
</ng-template>

<ng-template
  vclPopover
  #popover2="vclPopover"
  [closeOnOffClick]="true"
  [target]="target"
  [positions]="[{
    originX: 'start',
    originY: 'top',
    overlayX: 'start',
    overlayY: 'bottom'
  }]">
  <div style="width: 300px; height: 50px;">
      Popover is connected to the target<br>
  </div>
</ng-template>
