<div class="vclNotification" [ngClass]="alertClass">

  <div class="vclNotificationHeader vclLayoutHorizontal vclLayoutCenter" [ngClass]="titleAlignmentClass" *ngIf="alert.title">
    <div class="vclLayoutFlex">{{alert.title}}</div>
    <button *ngIf="alert.showCloseButton" type="button" class="vclButton vclTransparent vclSquare" (tap)="close()"><i class="fa fa-times"></i></button>
  </div>

  <div class="vclNotificationContent vclLayoutVertical vclLayoutCenterJustified ">

    <div *ngIf="iconClass" class="vclNotificationIconContainer" [ngClass]="iconAlignmentClass">
      <span class="vclIcon vclNotificationIcon" [ngClass]="iconClass"></span>
    </div>

    <div style="padding-bottom: 1em" [ngClass]="contentAlignmentClass" *ngIf="alert.text && !alert.html">{{alert.text}}</div>
    <div style="padding-bottom: 1em" [ngClass]="contentAlignmentClass" [innerHtml]="alert.text" *ngIf="alert.text && alert.html"></div>

    <div style="padding-bottom: 0.5em" *ngIf="alert.input"><alert-input [alert]="alert" (valueChange)="valueChange($event)"></alert-input></div>

    <div *ngIf="validationError" class="vclNotification vclError">
      <div class="vclNotificationContent">
        <vcl-icogram label="{{validationError}}" prepIcon="fa:exclamation-circle"></vcl-icogram>
      </div>
    </div>

    <div class="vclLayoutHorizontal vclLooseButtonGroup" [ngClass]="buttonAlignmentClass">
      <button vcl-button
        *ngIf="!!alert.showConfirmButton"
        (tap)="confirm()"
        [style.background-color]="alert.confirmButtonColor"
        [ngClass]="alert.confirmButtonClass"
        [busy]="!!alert.loader"
        type="button"
        >
        <!-- TODO FIX -->
          <!-- <vcl-icogram
            *vclButtonStateContent="['enabled','disabled']"
            [appIcon]="alert.confirmButtonAppIcon"
            [prepIcon]="alert.confirmButtonPrepIcon"
            [label]="alert.confirmButtonLabel">
          </vcl-icogram>
          <vcl-icogram
            *vclButtonStateContent="'busy'"
            prepIcon="fa:refresh fa-spin"
            [label]="alert.confirmButtonLabel">
          </vcl-icogram> -->
      </button>
      <button vcl-button
        *ngIf="!!alert.showCancelButton"
        [style.background-color]="!!alert.cancelButtonColor"
        [ngClass]="alert.cancelButtonClass"
        [busy]="!alert.showConfirmButton && !!alert.loader"
        [disabled]="!!alert.showConfirmButton && !!alert.loader"
        type="button"
        (tap)="cancel()"
        >
          <!-- <vcl-icogram
            *vclButtonStateContent="['enabled','disabled']"
            [appIcon]="alert.cancelButtonAppIcon"
            [prepIcon]="alert.cancelButtonPrepIcon"
            [label]="alert.cancelButtonLabel">
          </vcl-icogram>
          <vcl-icogram
            *vclButtonStateContent="'busy'"
            prepIcon="fa:refresh fa-spin"
            [label]="alert.cancelButtonLabel">
          </vcl-icogram> -->
      </button>
    </div>
    <div *ngIf="!alert.showCancelButton && !alert.showConfirmButton && !!alert.loader">
      <div class="vclLayoutHorizontal vclLayoutCenterJustified">
        <div class="vclBusyIndicator vclIcogram vclLayoutVertical vclLayoutJustified" role="status">
            <div class="vclIcon fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true" aria-label="loading…" role="img"></div>
          <div class="vclText">Loading…</div>
        </div>
      </div>
    </div>
  </div>
</div>
