<div style="display: flex; height:100px">
  <div vclTooltip="Tooltip on the top" style="background-color:#E6E6E6;flex:1">
    <p>Tooltip on the top</p>
  </div>
  <div vclTooltip="Tooltip on the right" vclTooltipPosition="right" style="background-color:#D8D8D8;flex:1">
    <p>Tooltip on the right</p>
  </div>
  <div vclTooltip="Tooltip on the left" vclTooltipPosition="left" style="background-color:#BDBDBD;flex:1">
    <p>Tooltip on the left</p>
  </div>
  <div vclTooltip="Tooltip on the bottom" vclTooltipPosition="bottom" style="background-color:#A4A4A4;flex:1">
    <p>Tooltip on the bottom</p>
  </div>
</div>
<div style="display: flex; height:100px; padding-top: 2em">
  <div vclTooltip="Tooltip with no pointer arrow" [vclTooltipArrowPointer]="false" style="background-color:#E6E6E6;flex:1">
    <p>Tooltip with no pointer arrow</p>
  </div>
  <div vclTooltip="Tooltip with delay before showing" [vclTooltipShowDelay]="500" style="background-color:#D8D8D8;flex:1">
    <p>Tooltip with delay before showing</p>
  </div>
  <div vclTooltip="Tooltip with delay before hiding" [vclTooltipHideDelay]="500" style="background-color:#BDBDBD;flex:1">
    <p>Tooltip with delay before hiding</p>
  </div>
  <div [vclTooltip]="tt" style="background-color:#A4A4A4;flex:1">
    <p>Tooltip with rich content</p>
    <vcl-tooltip #tt="vclTooltip">
      <div class="row center">
        <img src="http://lorempixel.com/50/50/cats/" />
        <span class="gutter-margin-l-r">Tooltip with rich content </span>
      </div>
    </vcl-tooltip>
  </div>
</div>
