<h3>Basic vcl-select-list</h3>

<vcl-select-list [(value)]="value1">
  <vcl-select-list-header>Europe</vcl-select-list-header>
  <vcl-select-list-item value="gr">
    <vcl-icon vclPrepend icon="fas:flag"></vcl-icon>
    Greece
    <vcl-sub-label>A country in southeastern Europe with thousands of islands throughout the Aegean and Ionian seas</vcl-sub-label>
  </vcl-select-list-item>
  <vcl-select-list-item value="fr">
    France
  </vcl-select-list-item>
  <vcl-select-list-item value="de">
    Germany
  </vcl-select-list-item>
  <vcl-select-list-item value="gb">
    The United Kingdom of Great Britain and Northern Ireland
  </vcl-select-list-item>
  <vcl-select-list-header>Asia</vcl-select-list-header>
  <vcl-select-list-item value="jp">
    Japan
  </vcl-select-list-item>
  <vcl-select-list-item value="ch">
    China
  </vcl-select-list-item>
  <vcl-select-list-item value="th">
    Thailand
  </vcl-select-list-item>
</vcl-select-list>
 
Value: {{value1}}

<h3>multi-select</h3>

<vcl-select-list [(value)]="value2" selectionMode="multiple">
  <vcl-select-list-header>Europe</vcl-select-list-header>
  <vcl-select-list-item value="gr">
    Greece
    <vcl-sub-label>A country in southeastern Europe with thousands of islands throughout the Aegean and Ionian seas</vcl-sub-label>
  </vcl-select-list-item>
  <vcl-select-list-item value="fr">
    France
  </vcl-select-list-item>
  <vcl-select-list-item value="de">
    Germany
  </vcl-select-list-item>
  <vcl-select-list-item value="gb">
    The United Kingdom of Great Britain and Northern Ireland
  </vcl-select-list-item>
  <vcl-select-list-header>Asia</vcl-select-list-header>
  <vcl-select-list-item value="jp">
    Japan
  </vcl-select-list-item>
  <vcl-select-list-item value="ch">
    China
  </vcl-select-list-item>
  <vcl-select-list-item value="th">
    Thailand
  </vcl-select-list-item>
</vcl-select-list>

Value: {{value2}}

<vcl-select-list [(value)]="value3" [disabled]="true">
  <vcl-select-list-header>Europe</vcl-select-list-header>
  <vcl-select-list-item value="gr">
    Greece
    <vcl-sub-label>A country in southeastern Europe with thousands of islands throughout the Aegean and Ionian seas</vcl-sub-label>
  </vcl-select-list-item>
  <vcl-select-list-item value="fr">
    France
  </vcl-select-list-item>
  <vcl-select-list-item value="de">
    Germany
  </vcl-select-list-item>
  <vcl-select-list-item value="gb">
    The United Kingdom of Great Britain and Northern Ireland
  </vcl-select-list-item>
  <vcl-select-list-header>Asia</vcl-select-list-header>
  <vcl-select-list-item value="jp">
    Japan
  </vcl-select-list-item>
  <vcl-select-list-item value="ch">
    China
  </vcl-select-list-item>
  <vcl-select-list-item value="th">
    Thailand
  </vcl-select-list-item>
</vcl-select-list>

Value: {{value3}}
