Checkbox:
<vcl-checkbox [(checked)]="isChecked"></vcl-checkbox>

<br><br>
<b>Checked:</b> {{isChecked}}

<br><br>
<button vcl-button (tap)="isChecked=false">Uncheck checkbox</button>

<br><br>
Disabled:
<vcl-checkbox [disabled]="true"></vcl-checkbox>
<br>
<br>
<br>
Checkbox with label:
<br>
<vcl-checkbox [(checked)]="isChecked2" labelPosition="right">
  <label vcl-form-control-label label="rightLabel" subLabel="SubRightLabel"></label>
</vcl-checkbox>
<br>
<br>
<vcl-checkbox [(checked)]="isChecked3" labelPosition="left">
  <label vcl-form-control-label label="rightLabel" subLabel="SubRightLabel"></label>
</vcl-checkbox>
