<button vcl-button (click)="layer.open()">Open inline layer</button>
<br><br>
<button vcl-button (click)="openBarComponent()">Open bar component as layer</button>
<br><br>
<button vcl-button (click)="openNagLayer()">Open nag layer</button>

<vcl-layer #layer="vclLayer">
  <div class="vclPanel vclPanelDialog vclM-0">
    <div class="vclPanelHeader vclNoBg vclHor vclJustifyBetween vclCenter">
      <h3 class="vclPanelTitle">
        Layer
      </h3>
      <button vcl-square-button class="vclTransparent" (click)="layer.close()">
        <vcl-icon icon="fas:times"></vcl-icon>
      </button>
    </div>
    <div class="vclPanelBody">
      <p class="vclPanelContent">
        Press escape or click outside of layer to close<br><br>
      </p>
    </div>
    <div class="vclPanelFooter vclNoBg vclHor vclJustifyBetween vclCenter">
      <div></div>
      <div class="vclLooseButtonGroup">
        <button vcl-button icon="fas:times" class="vclTransparent vclOutline" (click)="layer.close()">Close layer</button>
      </div>
    </div>
  </div>
</vcl-layer>
