<button vcl-button (click)="layer.open({data: { title: 'Template layer' }})">Open inline layer</button>
<br><br>
<button vcl-button (click)="openBarComponent()">Open bar component as layer</button>
<br><br>
<button vcl-button (click)="openNagLayer()">Open nag layer</button>

<ng-template vclLayer #layer="vclLayer" let-title="title">
  <vcl-panel-dialog [showCloseButton]="true" (close)="layer.close()">
    <vcl-panel-title>{{title}}</vcl-panel-title>
    Press escape or click outside of layer to close<br><br>
    <button vcl-button vclPanelFooterButton class="transparent outline" (click)="layer.close()">Close layer</button>
  </vcl-panel-dialog>
</ng-template>
