<ul vcl-metalist #metalist
  [class.vclLayoutHidden]="state === DropdownState.Closed" 
  [mode]="mode"
  [maxSelectableItems]="maxSelectableItems"
  class="vclDropdown vclOpen"
  role="listbox"
  [class.vclDisabled]="disabled"
  [attr.tabindex]="tabindex"
  [attr.aria-multiselectable]="mode === 'multiple'"
  [style.position]="'static'"
  (change)="onMetalistChange($event)"
  (focus)="onMetalistFocus()"
  (blur)="onMetalistBlur()"
  (keydown)="onMetalistKeydown($event)"
  >
  <vcl-metalist-item #metaItem
                    *ngFor="let item of items" 
                    [metadata]="item"
                    [selected]="item.selected"
                    [disabled]="disabled || item.disabled"
                    [marked]="item.marked"
                    [value]="item.value">
    <li
      role="option"
      class="vclDropdownItem"
      [class.vclSelected]="metaItem.selected"
      [class.vclDisabled]="disabled || metaItem.disabled"
      [class.vclHighlighted]="focused && metaItem.marked"
      [attr.aria-selected]="metaItem.selected"
      (tap)="onMetalistItemTap(metaItem)">
      <div *ngIf="item.label" class="vclDropdownItemLabel">
        {{item.label}}
      </div>
      <div *ngIf="item.sublabel" class="vclDropdownItemSubLabel">
        {{item.sublabel}}
      </div>
      <wormhole *ngIf="item.content" [connect]="item.content"></wormhole>
    </li>
  </vcl-metalist-item>
</ul>
