<div class="vclSliderRail">
  <div class="vclSliderScale" horizontal="" justified="" layout="">
    <div class="vclSliderScalePointMark"></div>
    <div class="vclSliderScalePointMark"></div>
    <div class="vclSliderScalePointMark"></div>
    <div class="vclSliderScalePointMark"></div>
    <div class="vclSliderScalePointMark"></div>
  </div>
  <div class="vclSliderKnobContainer"
    [style.left]="percentLeftKnob + '%'"
    >
    <div class="vclSliderKnob"></div>
  </div>
</div>
<div class="vclSliderScale" horizontal="" justified="" layout="">
  <div class="vclSliderScalePointLabel">empty</div>
  <div class="vclSliderScalePointLabel">1/4</div>
  <div class="vclSliderScalePointLabel">half</div>
  <div class="vclSliderScalePointLabel">3/4</div>
  <div class="vclSliderScalePointLabel">full</div>
</div>
