<h2>Features</h2>

Multiple level toolbars can be provided using <code>ariaLevel</code> attribute. Defaults to 1.

<h2>Examples</h2>

<h3>Toolbar with logo, navigation and buttons</h3>
<vcl-toolbar>
  <a class="vclLayoutHorizontal vclLayoutCenter" href="#">
    <img class="vclResponsiveImage vclLogo" role="presentation" src="https://cdn.jsdelivr.net/gh/vcl/vcl/gfx/vcl_logo_square-bw.svg" style="max-width: 3em;">
    <h1 class="vclToolbarTitle">App Name</h1>
  </a>

  <nav vcl-navigation #nav1 type="horizontal">
    <vcl-navitem label="Link 1" prepIcon="fas:home" [route]="['#']"></vcl-navitem>
    <vcl-navitem label="Link 2" prepIcon="fas:envelope" [route]="['#']"></vcl-navitem>
  </nav>

  <div class="vclLayoutHorizontal vclLayoutCenter">
    <button vcl-button class="vclTransparent" appIcon="fas:envelope"></button>
    <button vcl-button class="vclTransparent" appIcon="fas:user"></button>
  </div>
</vcl-toolbar>
<br><br>

<h3>Toolbar with embedded inline input</h3>
<vcl-toolbar>
  <button vcl-button class="vclTransparent" appIcon="fas:navicon"></button>

  <div class="vclInputGroupEmb">
    <span class="vclPrepended">
      <i class="vclIcon fas fa-search"></i>
    </span>
    <input vcl-input placeholder="Search" class="vclPrepItem"/>
  </div>

  <div class="vclLayoutHorizontal vclLayoutCenter">
    <button vcl-button class="vclTransparent" appIcon="fas:user"></button>
    <button vcl-button class="vclTransparent" appIcon="fas fa-plus"></button>
  </div>
</vcl-toolbar>
<br><br>

<h3>Second level toolbar with title in the middle</h3>
<vcl-toolbar [ariaLevel]="2" class="vclLayoutCenter">
  <button vcl-button class="vclTransparent" appIcon="fas:navicon"></button>
  <div>Level 2 Toolbar Title</div>
  <button vcl-button class="vclTransparent" appIcon="fas fa-plus"></button>
</vcl-toolbar>
