<table hover altrow vertical-border align-middle fixed role="listbox">
  <thead>
    <tr>
      <th [span]="50" sort tabindex="0" role="button">
        <span>Default Column</span>
        <sort-icon></sort-icon>
      </th>
      <th [span]="20" sort tabindex="0" role="button">
        <span>Right aligned Column</span>
        <sort-icon></sort-icon>
      </th>
      <th [span]="20">
        <span>Centered Column</span>
      </th>
      <th [span]="10">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lorem ipsum</td>
      <td [align-right]="true">11.000</td>
      <td align-center>Sent</td>
      <td align-center></td>
    </tr>
    <tr>
      <td nowrap><a href="#vclTable0">Lorem ipsum dolor sit amet</a>, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua.</td>
      <td [align-right]="true">11.000</td>
      <td align-center>Sent</td>
      <td align-center></td>
    </tr>
    <tr>
      <td overflow-ellipsis>Truncated content. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</td>
      <td [align-right]="true">11.000</td>
      <td hightlight align-center>N/A</td>
      <td align-center></td>
    </tr>
    <tr disabled>
      <td>Disabled row.</td>
      <td [align-right]="true">11.000</td>
      <td hightlight align-center>On hold</td>
      <td align-center></td>
    </tr>
    <tr selectable [selected]="true">
      <td>Selected row.</td>
      <td [align-right]="true">11.000</td>
      <td hightlight align-center>N/A</td>
      <td align-center></td>
    </tr>
    <tr>
      <td>Normal row.</td>
      <td [align-right]="true">11.000</td>
      <td hightlight align-center>On hold</td>
      <td align-center></td>
    </tr>
  </tbody>
</table>
